
    <h2
      class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
    >
    Invoices
    </h2>
  <!-- Add invoice modal toggle -->
  <div>
    <button 
    data-modal-target="add-invoice-modal" data-modal-toggle="add-invoice-modal" 
    class="float-right text-white bg-purple-700 hover:bg-purple-800 foinv:ring-4 foinv:outline-none foinv:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:foinv:ring-purple-800" type="button">
    New invoice
    </button>
  </div>
  <!--/ Add invoice modal toggle -->
<!-- Modal toggle -->
<div>
  <button id="add-customer-modal-id"
  data-modal-target="add-customer-modal" data-modal-toggle="add-customer-modal" 
  class="hidden float-right text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800" type="button">
  Add customer
  </button>
</div>
<!-- Add customer modal -->
<div id="add-customer-modal" tabindex="-1" aria-hidden="true" class="bg-black bg-opacity-50  fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0  h-full max-h-full">
    <div class="relative w-full max-w-4xl max-h-full items-center">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700 text-gray-900 dark:text-white">
            <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="add-customer-modal">
              <i class="fa-solid fa-xmark fa-2xl w-5 h-2 mt-3"></i>
                <span class="sr-only">Close modal</span>
            </button>
            <div class="px-6 py-6 lg:px-8">
              <h3 class="mb-4 text-xl font-medium">Add customer </h3>
              <form class="space-y-6" method="POST">
                <div class="flex flex-wrap -mx-3 mb-6">
                  <div class="w-full mob:w-1/2 px-3 my-1 mob:my-0">
                    <label>Customer name
                      <input name="customer_name" class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="text" placeholder="Name" required>
                    </label>
                  </div>
                  <div class="w-full mob:w-1/2 px-3 my-1 mob:my-0">
                    <label>Phone number
                      <input name="phone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white invalid:border-red-500" type="tel" maxlength="10" placeholder="Phone: 0*********" pattern="[0]{1}[6-7]{1}[1-9]{1}[0-9]{7}">
                    </label>
                  </div>
                </div>
                <div class="flex flex-wrap -mx-3 mb-6">
                  <div class="w-full mob:w-1/2 px-3"> 
                    <label>E-mail
                      <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" name="email" type="email" placeholder="E-mail">
                    </label>
                  </div>
                  <div class="w-full mob:w-1/2 px-3 my-1 mob:my-0"> 
                    <label>Residence address
                      <input name="address" class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="text" placeholder="Residence address">
                    </label>
                  </div>
                </div>
                <div class="flex flex-wrap -mx-3 mb-6">
                  <div class="w-full mob:w-1/2 px-3 my-1 mob:my-0">
                    <label>TIN number
                      <input name="tin" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white invalid:border-red-500" type="text" maxlength="12" placeholder="TIN">
                    </label>
                  </div>
                  <div class="w-full mob:w-1/2 px-3 my-1 mob:my-0">
                    <label>VRN
                      <input name="vrn" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white invalid:border-red-500" type="tel" maxlength="9" placeholder="VRN">
                    </label>
                  </div>
                </div>
                <div class="pb-8">
                  <button type="submit" class="float-right text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">Create</button>
                </div>
              </form>
            </div>
        </div>
    </div>
</div> 
<!--/ Add customer modal -->
  <!-- Add invoice m modal -->
  <div id="add-invoice-modal" tabindex="-1" aria-hidden="true" class="bg-black bg-opacity-50  fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-full max-h-full">
      <div class="relative w-full max-w-4xl max-h-full items-center">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700 text-gray-900 dark:text-white">
              <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="add-invoice-modal">
                <i class="fa-solid fa-xmark fa-2xl w-5 h-2 mt-3"></i>
                  <span class="sr-only">Close modal</span>
              </button>
              <div class="px-6 py-6 lg:px-8">
                <h3 class="mb-4 text-xl font-medium">New invoice </h3>
                <form class="space-y-6" method="POST">
                  <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full mob:w-1/2 px-3 my-1 mob:my-0">
                      <label>Invoice type
                        <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg foinv:ring-blue-500 foinv:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:foinv:ring-blue-500 dark:foinv:border-blue-500" name="invoice_type" onchange="switch_selects()">
                            <option value="proforma">Proforma invoice</option>
                            <option value="tax">Tax invoice</option>
                        </select>
                      </label>
                    </div>
                    <div class="w-full mob:w-1/2 px-3 my-1 mob:my-0"> 
                      <label>Customer</label>
                        <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg foinv:ring-blue-500 foinv:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:foinv:ring-blue-500 dark:foinv:border-blue-500" name="customer" onchange="add_customer()" required>
                          <option value="">Choose customer</option>
                          <?php foreach($customers as $c){?>
                          <option value="<?=$c['customer_id']?>"><?=$c['customer_name']?></option>
                          <?php }?>
                          <option value="add">Add customer</option>
                      </select>
                    </div>
                  </div>
                    <div class="w-full">
                      <div class="float-right" id="grand-total"></div>
                      <h3 class="mb-4 text-xl font-medium">Items</h3>
                    </div>
                  <hr>
                  <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full mob:w-1/3 px-3"> 
                      <label>Item</label>
                      <select class="antagonistic bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg foinv:ring-blue-500 foinv:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:foinv:ring-blue-500 dark:foinv:border-blue-500" name="item_name[]" onchange="process_product()">
                        <option value="">Choose product...</option>
                        <?php foreach($all_products as $p){?>
                        <option value="<?=$p['product_id']?>" data-price="<?=intval(@$p['product_price'])?>"><?=$p['product_name']?></option>
                        <?php }?>
                        <option value="add-product">Add product</option>
                      </select>
                      <select class="antagonistic bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg foinv:ring-blue-500 foinv:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:foinv:ring-blue-500 dark:foinv:border-blue-500" name="item_name[]" onchange="process_product()" disabled>
                        <option value="">Choose product...</option>
                        <?php foreach($products as $p){?>
                        <option value="<?=$p['product_id']?>" data-price="<?=$p['product_price']?>"><?=$p['product_name']?></option>
                        <?php }?>
                        <option value="add-product">Add product</option>
                      </select>
                    </div>
                    <div class="flex w-full mob:w-2/3 -mx-3 mb-6">
                      <div class="w-full mob:w-1/3 px-3 my-1 mob:my-0">
                        <label>Quantity</label>
                          <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg foinv:ring-purple-500 foinv:border-purple-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="number" name="item_quantity[]" min="1" value="1" onchange="update_price()" onkeyup="update_price()" required>
                      </div>
                      <div class="w-full mob:w-1/3 px-3 my-1 mob:my-0">
                        <label>Price per item</label>
                          <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg foinv:ring-purple-500 foinv:border-purple-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" name="sell_price[]" type="number" value="0" onchange="update_price()" onkeyup="update_price()" >
                      </div>
                      <div class="w-full mob:w-1/3 px-3 my-1 mob:my-0">
                        <label>Total price</label>
                          <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg foinv:ring-purple-500 foinv:border-purple-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white total-prices" type="number" value="0" readonly>
                      </div>
                    </div>
                  </div>
                  <div class="pb-8">
                    <button type="button" class="float-right text-white bg-purple-700 hover:bg-purple-800 foinv:ring-4 foinv:outline-none foinv:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:foinv:ring-purple-800" onclick="replicate_items()">Add item</button>
                  </div>
                  <div class="pb-8">
                    <button type="submit" class="float-right text-white bg-purple-700 hover:bg-purple-800 foinv:ring-4 foinv:outline-none foinv:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:foinv:ring-purple-800">Save</button>
                  </div>
                </form>
              </div>
          </div>
      </div>
  </div> 
  <!--/ Add invoice m modal -->

  <br />
  <?php if($msg) {?>
    <div x-data="{ open: true }" x-show="open" class="flex p-3 mb-4 text-green-800 rounded-lg bg-green-100 dark:bg-gray-800 dark:text-green-400" role="alert">
      <span>
        <i class="fa-solid fa-circle-info fa-lg"></i>
      </span>
      <div class="ml-3 text-sm font-medium">
        <?=$msg?>
      </div> 
      <button type="button" @click="open = false" class="ml-auto -mx-1.5 px-1 bg-green-100 text-green-500 rounded-lg foinv:ring-2 foinv:ring-green-400 hover:bg-green-200 inline-flex  dark:bg-gray-800 dark:text-green-400 dark:hover:bg-gray-700">
        <span class="font-bold px-1"><i class="fa-solid fa-xmark fa-xl"></i></span>
      </button>
    </div>
  <?php } ?>
  <div id="message"></div>

  <div class="w-full overflow-hidden rounded-lg shadow-md">
    <div class="w-full overflow-x-auto">
      <table class="w-full">
        <thead>
          <tr
            class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
          >
            <th class="px-4 py-3">Customer</th>
            <th class="px-4 py-3">Invoice Type</th>
            <th class="px-4 py-3">Ref Number</th>
            <th class="px-4 py-3">Amount</th>
            <th class="px-4 py-3">Create date</th>
            <th class="px-4 py-3">Overdue Date</th>
            <th class="px-4 py-3">Sales personel</th>
            <th class="px-4 py-3">Actions</th>
          </tr>
        </thead>
        <tbody
          class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
        >
        <?php foreach($invoice as $inv){?>
        <tr id="tr-<?=$inv['invoice_id']?>" class="text-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700">
          <td class="px-4 py-3 text-sm">
            <?=$inv['customer_name']?>
          </td>
          <td class="px-4 py-3 text-sm">
            <?=$inv['invoice_type']?>
          </td>
          <td class="px-4 py-3 text-sm">
            <?=(6891+$inv['invoice_id'])?>
          </td>
          <td class="px-4 py-3 text-sm">
            <?=number_format($inv['invoice_amount'])?>
          </td>
          <td class="px-4 py-3 text-sm">
            <?=helper::format_time($inv['created_time'], 'M d, Y @ H:i')?>
          </td>
          <td class="px-4 py-3 text-sm">
            <?=helper::format_time($inv['due_date'], 'M d, Y @ H:i')?>
          </td>
          <td class="px-4 py-3 text-sm">
            <?=$inv['first_name']?> <?=$inv['middle_name']?> <?=$inv['last_name']?>
          </td>        
          <td class="px-4 py-3">
            <?php $inv['invoice_items'] = json_decode($inv['invoice_items']);?>
            <?php $inv['due_date'] = helper::format_time($inv['due_date'],'d M Y, H:i')?>
            <?php $inv['created_time'] = helper::format_time($inv['created_time'],'d M Y, H:i')?>
            <div class="flex items-center space-x-4 text-sm">   
              <button onclick="preview_invoice()"  data-json='<?=stripslashes(json_encode($inv))?>'
                class="flex items-center justify-between p-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 foinv:outline-none foinv:outline-gray-300"
                aria-label="View"
              >
              <i class="fa-solid fa-eye fa-lg"></i>
              </button>
              <button id="del-<?=$inv['invoice_id']?>" onclick="delinvoice(this)" 
                class="flex items-center justify-between p-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 foinv:outline-none foinv:outline-gray-300"
                aria-label="Delete"
              >
           <i class="fa-sharp fa-solid fa-trash fa-lg"></i>
                </button>
              </div>
            </td>
          </tr>
          <?php }?>
        </tbody>
      </table>
    </div>
    
  </div>
    <!-- Print Template -->
  <template id="invoice-tpl">
    <div>
      <table style="width: 100%;font-family: Verdana, Geneva, Tahoma, sans-serif;line-height: 1.4;font-size: 13px;color: #060c67;">
        <tr>
          <td colspan="3">
            <div style="display: flex;">
              <div style="text-align: left;flex-basis: 100%;">
                <div style="text-transform: capitalize;">{{customer_name}}</div>
                <pre style="font-family: inherit;">{{customer_physical_adress}}</pre>
                <div>TIN: {{tin_number}}</div>
                <div>VRN: {{vrn_number}}</div>
              </div>
              <div style="flex-basis: 100%;">
                <div style="text-align: center;"">
                  <img src="//<?=$_SERVER['HTTP_HOST']?>/cmis/system/assets/img/<?=($company->company_logo)?>" style="height: 150px;margin: auto;">
                </div>
              </div>
              <div style="text-align: right;flex-basis: 100%">
                <div style="font-size: 120%;"><?=$company->company_legal_name?></div>
                <pre style="font-family: inherit;"><?=$company->company_address?></pre>
                <div><?=$company->email?></div>
                <div><?=$company->phone_number?></div>
                <div>TIN: <?=$company->TIN_number?></div>
                <div>VRN: <?=$company->VRN_number?></div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <table style="min-width: 30%;text-align: left;font-size: 13px;">
              <tr>
                <td><b>Order No.</b></td>
                <td>{{order_id}}</td>
              </tr>
              <tr>
                <td><b>Create date</b></td>
                <td>07 Sep 2023, 08:37</td>
              </tr>
              <!-- <tr>
                <td><b>Create date</b></td>
                <td>{{created_time}}</td>
              </tr> -->
              <tr>
                <td><b>Due date</b></td>
                <td>{{due_date}}</td>
              </tr>
              <tr>
                <td><b>Sales represantantive</b></td>
                <td>{{first_name}} {{middle_name}} {{last_name}}</td>
              </tr>
            </table>
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <div style="text-align: center;">
              <b style="text-transform: uppercase;font-size: 140%;">{{invoice_type}} INVOICE</b>
            </div>
            
            <table style="width: 100%;text-align: left;margin-top: 1em;font-size: 13px;border-collapse: collapse;">
              <tr style="border-bottom: 1px solid #222;">
                <th>S/N</th>
                <th>Item name</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Unit price</th>
                <th style="text-align: right;">Total amount</th>
              </tr>
              <tr id="items_list">
              </tr>
              <tr style="border-top: 1px solid #222;">
                <td colspan="4">&nbsp;</td>
                <th style="text-align: right;">Total</th>
                <th style="text-align: right;">{{total}}</th>
              </tr>
              <tr>
                <td colspan="4">&nbsp;</td>
                <th style="text-align: right;">VAT (18%)</th>
                <th style="text-align: right;"><span>{{VAT}}</span></th>
              </tr>
              <tr>
                <td colspan="4">&nbsp;</td>
                <th style="text-align: right;">Total including VAT</th>
                <th style="text-align: right;padding: 0;">
                  <span style="border-top: 1px solid #222;padding:10px">{{grand_total}}</span>
                </th>
              </tr>
            </table>
          </td>
        </tr>
        <tr style="margin-top: 6em;">
          <td style="text-align: left;">
            <span style="text-align: center;display: inline-block;">
              <span>___________________</span><br>
              <span>Seller's signature</span>
            </span>
          </td>
          <td style="text-align: right;">
            <!--span style="text-align: center;display: inline-block;">
              <span>___________________</span><br>
              <span>Client's signature</span>
            </span-->&nbsp;
          </td>
        </tr-->
        <tr style="margin-top: 6em;">
          <td colspan="3" style="text-align: left;font-size: 13px;">
            <div style="display: flex;">
              <div>
                <b>Payment terms</b><br>
                <pre style="font-family: inherit;"><?=$company->payment_terms?></pre>
              </div>
              <div style="margin: 0 2em;">
                <b>Primary payment account</b><br>
                <pre style="font-family: inherit;"><?=$company->primary_payment_account?></pre>
              </div>
              <div>
                <b>Auxilliary payment account</b><br>
                <pre style="font-family: inherit;"><?=$company->aux_payment_account?></pre>
              </div>
            </div>
          </td>
        </tr>
        <style>
          th,td{
            padding: 10px;
          }
          th{
            white-space: nowrap;
          }
        </style>
      </table>
      <div style="position: absolute;top: 1em;right: 1em; padding: .4em .6em;box-shadow: 0 0 4px #999;border-radius: 4em;background-color: #fff;">
        <button onclick="jsprint(this.parentNode.previousElementSibling.outerHTML)" class="fa fa-print"></button>
      </div>
      <style>
        td,th{
          vertical-align: top;
          padding: 8px;
        }
      </style>
    </div>
  </template>
		<!-- /Print Template -->
  <style>
    .wideSwal{
      min-width: 80%;
    }
  </style>
<script src="js/sweetalert.min.js"></script>
<script src="js/flowbite.min.js"></script>
<script>
  var sels = document.querySelectorAll('.antagonistic');
  sels[1].style.display = 'none';
  function switch_selects(){
    let evt  = window.event;
    if(evt.target.value == 'proforma'){
      sels[0].style.display = 'block';
      sels[1].style.display = 'none';
      sels[0].removeAttribute('disabled');
      sels[1].setAttribute('disabled', true);
    }
    if(evt.target.value == 'tax'){
      sels[1].style.display = 'block';
      sels[0].style.display = 'none';
      sels[1].removeAttribute('disabled');
      sels[0].setAttribute('disabled', true);
    }
  }
  function replicate_items(){
    let evtTag = window.event.target;
    evtTag.parentNode.previousElementSibling.insertAdjacentHTML('afterEnd',evtTag.parentNode.previousElementSibling.outerHTML);
  }

  function process_product(){
    let evtTag = window.event.target;
    if(parseInt(evtTag.value) > 0){
      let price = evtTag.options[evtTag.selectedIndex].getAttribute('data-price');
      let qty = evtTag.parentNode.nextElementSibling.children[0].querySelector('input').value;
      let priceTag = evtTag.parentNode.nextElementSibling.children[1].querySelector('input');
      let totalPrice = evtTag.parentNode.nextElementSibling.children[2].querySelector('input');
      priceTag.value = price;
      totalPrice.value = parseInt(price) * parseInt(qty);
      sumAll();
    }
  }

  function update_price(){
    let evtTag = window.event.target,
        priceOpts = evtTag.parentNode.parentNode.previousElementSibling.querySelector('select'),
        price = 0;//parseInt(priceOpts.options[priceOpts.selectedIndex].getAttribute('data-price')) * parseInt(evtTag.value);
    if(evtTag.name == 'item_quantity[]'){
      let qty = evtTag.value,
          prc = evtTag.parentNode.nextElementSibling.children[1].value;
      price = parseInt(qty) * parseInt(prc);
    }
    else if(evtTag.name == 'sell_price[]'){
      let prc = evtTag.value,
          qty = evtTag.parentNode.previousElementSibling.children[1].value;
      price = parseInt(qty) * parseInt(prc);
      //console.log(prc,qty);
    }
    if(evtTag.parentNode.nextElementSibling.nextElementSibling != null){
      evtTag.parentNode.nextElementSibling.nextElementSibling.querySelector('input').value =  price;
    }
    else{
      evtTag.parentNode.nextElementSibling.querySelector('input').value =  price;
    }
    sumAll();
  }

  function sumAll(){
    let grandTotal = document.getElementById('grand-total'),
        totals = document.querySelectorAll('.total-prices'),
        grandPrice = 0;
    [...totals].forEach(elem=>{
      if(elem.value != '') grandPrice += parseInt(elem.value);
    });
    grandTotal.innerHTML = `<span><b>Invoice total:&nbsp;</b>${grandPrice}</span>`;
  }

  function preview_invoice(){
    let elem = window.event.target.tagName == 'I' ? window.event.target.parentNode : window.event.target;

    let json = JSON.parse(elem.getAttribute('data-json'));

    json.total = 0;
    json.grand_total = 0;

    let tmp = '', sn = 0;
    let reli = json.invoice_items;
    for(x in reli) {
      let item_total = parseInt(reli[x].qty) * parseInt(reli[x].price),
          itotal = item_total.toLocaleString('en-US'),
          price = reli[x].price.toLocaleString('en-US');
      
      tmp += `<tr style="border-bottom:1px solid #222"><td>${++sn}</td>
        <td>${reli[x].name}</td>
        <td>${reli[x].desc}</td>
        <td>${reli[x].qty} ${reli[x].unit}</td>
        <td>${price}</td>
        <td style="text-align: right;">${itotal}</td></tr>`;
      json.total += item_total;
    }
    json.VAT = (json.total * 0.18);
    json.grand_total = (json.total + json.VAT).toLocaleString('en-US');
    json.VAT = json.VAT.toLocaleString('en-US');
    json.total = json.total.toLocaleString('en-US');
    json.order_id = 6891+parseInt(json.invoice_id);
    let tpl = document.getElementById('invoice-tpl').content.cloneNode(true);
    tpl.getElementById('items_list').outerHTML = tmp;
    
    htmlContent = tpl.firstElementChild.outerHTML.replace(/\{\{(.+?)\}\}/g,  (match, tag) => json[tag.trim()]);

    Swal.fire({
      html:htmlContent,
      customClass:'wideSwal',
      showConfirmButton:false
    });
  }
</script>
