
<h2
  class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
>
  Leaves
</h2>
<!-- Apply leave modal toggle -->
<div class="text-right">
  <button data-modal-target="set-leave-modal" data-modal-toggle="set-leave-modal" 
  class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800" type="button">
  Leave settings
  </button>
  <button data-modal-target="add-leave-modal" data-modal-toggle="add-leave-modal" 
  class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800" type="button">
  Apply leave
  </button>
</div>
<!--<?=var_dump($roles)?>
--Set leave modal -->
<div id="set-leave-modal" tabindex="-1" aria-hidden="true" class="bg-black bg-opacity-50 fixed top-0 left-0 right-0 z-50 hidden w-full h-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 f-full max-h-full">
    <div class="relative w-full max-w-lg max-h-full items-center">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700 text-gray-900 dark:text-white">
            <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="set-leave-modal">
              <i class="fa-solid fa-xmark fa-2xl w-5 h-2 mt-3"></i>
                <span class="sr-only">Close modal</span>
            </button>
            <div class="px-6 py-6 lg:px-8">
              <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white"> Leave approve flow </h3>
              <form class="space-y-6" method="POST">
                <div class="flex flex-wrap -mx-3 mb-6">
                  <div class="w-full mob:w-2/3 px-3 my-1 mob:my-0"> 
                    <label>Role <span class="text-red-500"></span>
                      <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                        <option value="">Choose...</option> 
                        <option value="0" selected>Assignee</option> 
                        <?php foreach($roles as $r) { ?>
                        <option value="<?=$r['role_id']?>"><?=$r['role_name']?></option>
                        <?php } ?>
                      </select>
                    </label>
                  </div>
                  <div class="w-1/3 px-3 my-1 mob:my-0 flex flex-row">
                    <div class="my-auto pt-8">
                      <button type="button" onclick="appendInputFn()" class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-3 py-1.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">+
                      </button>
                      <button type="button" onclick="delInput()" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-3 py-1.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">x
                      </button>
                    </div>
                  </div>
                </div>
                <?php foreach($approval_flow as $apr){?>
                <div class="flex flex-wrap -mx-3 mb-6">
                  <div class="w-full mob:w-2/3 px-3 my-1 mob:my-0"> 
                    <label>Role <span class="text-red-500"></span>
                      <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="leave_flow[]" required>
                        <option value="">Choose...</option> 
                        <option value="0">Assignee</option> 
                        <?php foreach($roles as $r) { ?>
                        <option value="<?=$r['role_id']?>"<?=($apr==$r['role_id']?' selected':'')?>><?=$r['role_name']?></option>
                        <?php } ?>
                      </select>
                    </label>
                  </div>
                  <div class="w-1/3 px-3 my-1 mob:my-0 flex flex-row">
                    <div class="my-auto pt-8">
                      <button type="button" onclick="appendInputFn()" class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-3 py-1.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">+
                      </button>
                      <button type="button" onclick="delInput()" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-3 py-1.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">x
                      </button>
                    </div>
                  </div>
                </div>
                <?php }?>
                <div id="added-inputs"></div>
                <div class="pb-8">
                  <button type="submit" class="float-right text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">Save</button>
                </div>
              </form>
            </div>
        </div>
    </div>
</div> 
<!--/ Set leave modal -->
<!-- Apply leave modal -->
<div id="add-leave-modal" tabindex="-1" aria-hidden="true" class="bg-black bg-opacity-50 fixed top-0 left-0 right-0 z-50 hidden w-full h-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 f-full max-h-full">
    <div class="relative w-full max-w-4xl max-h-full items-center">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700 text-gray-900 dark:text-white">
            <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="add-leave-modal">
              <i class="fa-solid fa-xmark fa-2xl w-5 h-2 mt-3"></i>
                <span class="sr-only">Close modal</span>
            </button>
            <div class="px-6 py-6 lg:px-8">
              <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Apply for leave </h3>
              <form class="space-y-6" method="POST">
                <div class="flex flex-wrap -mx-3 mb-6">
                  <div class="w-full sm:w-1/3 px-3 my-2 mob:my-0">
                    <label>Leave type 
                      <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="leave_type" onchange="updateLeaveLength(this)">
                        <option selected="true" disabled="disabled">Choose...</option> 
                        <option value="bereavement">Bereavement leave</option>
                        <option value="casual">Casual leave</option>
                        <option value="maternity">Maternity leave</option>
                        <option value="sick">Sick leave</option>
                        <option value="paternity">Paternity leave</option>
                      </select>
                    </label>
                  </div>
                  <div class="w-full sm:w-1/3 px-3 my-2 mob:my-0">
                    <label>Leave start 
                      <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="date" min="<?= date('Y-m-d'); ?>" name="leave_start" required>
                    </label>
                  </div>
                  <div class="w-full sm:w-1/3 px-3 my-2 mob:my-0">
                    <label>Leave lenght (days)
                      <input id="leaveLength" min="1" class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="number" name="leave_length" placeholder="Leave days" required>
                    </div>
                  </label>
                </div>
                <div class="flex flex-wrap -mx-3 mb-6">
                  <div class="w-full sm:w-1/2 px-3 my-2 mob:my-0">
                    <label>Responsible assignee
                      <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="responsibility_assignee">
                        <option value="0">Anyone</option>
                        <?php foreach($assignee as $user){?>
                        <option value="<?=$user['user_id']?>"><?=$user['first_name']?> <?=$user['last_name']?></option>
                        <?php }?>
                      </select>
                    </label>
                  </div>
                  <div class="w-full sm:w-1/2 px-3 my-2 mob:my-0">
                    <label>Leave description 
                      <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="text" placeholder="Leave escription" name="leave_application_description">
                    </label>
                  </div>
                </div>
                <div class="pb-8">
                  <button type="submit" class="float-right text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">Apply</button>
                </div>
              </form>
            </div>
        </div>
    </div>
</div> 
<!--/ Apply leave modal -->

<br />
<?php if($msg) {?>
  <div x-data="{ open: true }" x-show="open" class="flex p-3 mb-4 text-green-800 rounded-lg bg-green-100 dark:bg-gray-800 dark:text-green-400" role="alert">
    <span>
      <i class="fa-solid fa-circle-info fa-lg"></i>
    </span>
    <div class="ml-3 text-sm font-medium">
      <?=$msg?>
    </div> 
    <button type="button" @click="open = false" class="ml-auto -mx-1.5 px-1 bg-green-100 text-green-500 rounded-lg focus:ring-2 focus:ring-green-400 hover:bg-green-200 inline-flex  dark:bg-gray-800 dark:text-green-400 dark:hover:bg-gray-700">
      <span class="font-bold px-1"><i class="fa-solid fa-xmark fa-xl"></i></span>
    </button>
  </div>
<?php } ?>
<div id="message"></div>

<div class="w-full overflow-hidden rounded-lg shadow-md">
  <div class="w-full overflow-x-auto">
    <table class="w-full">
      <thead>
        <tr
          class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
        >
          <th class="px-4 py-3">Requester</th>
          <th class="px-4 py-3">Leave type</th>
          <th class="px-4 py-3">Leave length</th>
          <th class="px-4 py-3">Description</th>
          <th class="px-4 py-3">Date applied</th>
          <th class="px-4 py-3">Status</th>
          <!--th class="px-4 py-3">Remark</th-->
          <th class="px-4 py-3">Actions</th>
        </tr>
      </thead>
      <tbody
        class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
      >
      <?php foreach($leave as $appl){?>
        <tr id="tr-<?=$appl['leave_application_id']?>" class="text-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700">
          <td class="px-4 py-3">
            <div class="flex items-center text-sm">
              <div>
                <p class="font-semibold"><?=$appl['first_name']?> <?=$appl['middle_name']?> <?=$appl['last_name']?></p>
              </div>
            </div>
          </td>
          <td class="px-4 py-3 text-sm">
            <?=$appl['leave_application_type']?>
          </td>
          <td class="px-4 py-3 text-sm">
            <?=$appl['leave_length']?> days
          </td>
          <td class="px-4 py-3 text-sm">
            <?=$appl['leave_application_description']?>
          </td>
          <td class="px-4 py-3 text-sm">
            <?=helper::format_time($appl['application_date'], 'd M, Y @ H:i')?>
          </td>
          <td class="px-4 py-3 text-sm">
            <span
              class="px-2 py-1 font-semibold leading-tight text-orange-700 bg-orange-100 rounded-full dark:text-white dark:bg-orange-600"
            >
            <?=$appl['leave_application_status']?>
            </span>
          </td>
          <!--td class="px-4 py-3 text-sm">
            <?=$appl['remarks']?>
          </td-->
          <td class="px-4 py-3">
            <div class="flex items-center space-x-4 text-sm">  
              <?php 
                if($me_user['staff_id'] != $appl['staff_id']){
                  $status = $appl['leave_application_status'];
                  $n2a = $appl['next_to_approve'];
                  //echo "nxt: {$n2a}, status: {$status}, role:{$me_user['system_role']}, id:{$me_user['user_id']}";
                  if(
                    ($status == 'Progressing' && $me_user['system_role'] == $n2a) or 
                    ($status == 'Pending' && $me_user['user_id'] == $n2a)
                  ){?>
                  <button  onclick="respond_to_leave(`<?=$appl['leave_application_id']?>`)" class="flex items-center justify-between p-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:outline-gray-300"
                    aria-label="Approve leave"
                  >
                  <i class="fa-solid fa-check-double fa-lg"></i>&nbsp;Respond
                  </button>
                <?php }?>
                <button onclick="view_leave(`<?=$appl['leave_application_id']?>`)" class="flex items-center justify-between p-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:outline-gray-300"
                  aria-label="View" data-json='<?=$appl['remarks']?>'
                >
                <i class="fa-solid fa-eye fa-lg"></i>
                </button>
              <?php }else{?> 
                <button onclick="delete_leave(`<?=$appl['leave_application_id']?>`)" 
                  class="flex items-center justify-between p-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:outline-gray-300"
                  aria-label="Delete"
                >
                <i class="fa-solid fa-trash fa-lg"></i>
                </button>
                <button onclick="cancel_eave(`<?=$appl['leave_application_id']?>`)"
                  class="flex items-center justify-between p-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:outline-gray-300"
                  aria-label="Reject"
                >
                <i class="fa-sharp fa-solid fa-times-circle fa-lg"></i>
                </button>
              <?php }?>
              <?php if($appl['leave_application_status'] == 'Approved'){?>
                <button onclick="print_leave()" data-json='<?=json_encode($appl)?>'
                  class="flex items-center justify-between p-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:outline-gray-300"
                  aria-label="Print"
                >
                <i class="fa-sharp fa-solid fa-print fa-lg"></i>
                </button>
              <?php }?>
              </div>
          </td>
        </tr>
      <?php }?>
      </tbody>
    </table>
  </div>
  
</div>
<template id="response_form">
  <form method="post">
    <input type="hidden" name="lid">
    <label>Remarks</label>
    <textarea name="leave_remarks" required></textarea>
    <div style="display: flex;">
      <span style="flex-grow: 1;">
        <label><input type="radio" name="response" value="Rejected" style="width: auto;" required> Reject</label>
      </span>
      <span style="flex-grow: 1;">
        <label><input type="radio" name="response" value="Approved" style="width: auto;" required> Accept</label>
      </span>
    </div>
    <br>
    <div style="text-align: right;">
      <button class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800" type="submit">
        Save response
      </button>
    </div>
  </form>
</template>
<template id="leave_print">
  <div style="padding: 1em;text-align: center;">
    <h2>Leave application</h2>
    <div style="text-align: justify;padding: 1em;">
      <p style="padding: 0;margin: 0;">
        I, <span style="font-weight: bold;">{{first_name}} {{middle_name}} {{last_name}}</span>, according to company policy, apply for 
        leave with the following details
      </p>
      <br>
      <p style="padding: 0;margin: 0; line-height: 1.2;">
        <b>Leave type:</b>&nbsp;<span>{{leave_application_type}}</span><br>
        <b>Leave length:</b>&nbsp;<span>{{leave_length}} days</span><br>
        <b>Leave starts:</b>&nbsp;<span>{{leave_start_date}}</span><br>
      </p>
      <br>
      <p style="padding: 0;margin: 0;line-height: 1.2;">
        <b>Leave description</b><br>
        <div>{{leave_application_description}}</div>
      </p>
      <br>
      <p style="padding: 0;margin: 0;line-height: 1.2;">
        <b>Approve remarks</b><br>
        <ul style="list-style-position: inside;margin: 0;padding: 0;">{{remarks}}</ul>
      </p>
      <br>
      <div style="display: flex;width: 100%;justify-content: space-between;max-height: 1px;overflow: hidden;">
        <p style="padding: 0;margin: 0;line-height: 1.2; width: 30%;background-color: #000;">&nbsp;</p>
        <p style="padding: 0;margin: 0;line-height: 1.2; width: 30%;background-color: #000;">&nbsp;</p>
      </div>
      <div style="display: flex;width: 100%;justify-content: space-between;padding-top: 4px;">
        <p style="padding: 0;margin: 0; width: 30%;">Applicant's signature</p>
        <p style="padding: 0;margin: 0; width: 30%;">Date</p>
      </div>
      <br>
      <hr style="border: 1px dashed #000;">
      <h3>For office use only</h3>
      <div>
        <b>Leave status</b><br>
        <div>{{leave_application_status}}</div>
      </div>
      <br>
      <br>
      <div style="display: flex;width: 100%;justify-content: space-between;max-height: 1px;overflow: hidden;">
        <p style="padding: 0;margin: 0;line-height: 1.2; width: 30%;background-color: #000;">&nbsp;</p>
        <p style="padding: 0;margin: 0;line-height: 1.2; width: 30%;background-color: #000;">&nbsp;</p>
      </div>
      <div style="display: flex;width: 100%;justify-content: space-between;padding-top: 4px;">
        <p style="padding: 0;margin: 0; width: 30%;">Signed by</p>
        <p style="padding: 0;margin: 0; width: 30%;">Signature</p>
      </div>
      <br>
      <br>
      <div style="display: flex;width: 100%;justify-content: space-between;max-height: 1px;overflow: hidden;">
        <p style="padding: 0;margin: 0;line-height: 1.2; width: 30%;background-color: #000;">&nbsp;</p>
        <p style="padding: 0;margin: 0;line-height: 1.2; width: 30%;background-color: #000;">&nbsp;</p>
      </div>
      <div style="display: flex;width: 100%;justify-content: space-between;padding-top: 4px;">
        <p style="padding: 0;margin: 0; width: 30%;">Date</p>
        <p style="padding: 0;margin: 0; width: 30%;">Stamp</p>
      </div>
    </div>
  </div>
</template>
<script src="js/flowbite.min.js"></script>
<script>
  count = 0;
  function appendInputFn(){
    let evtTag = window.event.target.parentNode.parentNode.parentNode;
    let dummy = evtTag.cloneNode(true);
    dummy.querySelector('select [selected]').removeAttribute('selected');
    evtTag.insertAdjacentHTML('afterEnd', dummy.outerHTML);
  }
  function delInput(){
    let evtTag = window.event.target.parentNode.parentNode.parentNode;
    evtTag.parentNode.removeChild(evtTag);
  }
  function updateLeaveLength(leaveTypeValue){
    leaveLength = document.getElementById('leaveLength')
    if(leaveTypeValue.value == 'sick') {
      leaveLength.value = 1;
      leaveLength.max = 15;
    }
    if(leaveTypeValue.value == 'paternity') {
      leaveLength.value = 7;
      leaveLength.max = 14;
    }
    if(leaveTypeValue.value == 'maternity') {
      leaveLength.value = 60;
      leaveLength.max = 90;
    }
    if(leaveTypeValue.value == 'bereavement') {
      leaveLength.value = 3;
      leaveLength.max = 7;
    }
    if(leaveTypeValue.value == 'casual') {
      leaveLength.value = 8;
      leaveLength.max = 15;
    }
  }
  function respond_to_leave(lid){
    let tplx= document.getElementById('response_form').content.cloneNode(true);
    let form_html = tplx.querySelector('form');
    form_html.querySelector('input[name=lid]').setAttribute('value', lid);
    Swal.fire({
      title:"Some remarks for the choice",
      html: form_html.outerHTML,
      customClass:'mySwal',
      showConfirmButton:false
    });
  }
  function view_leave(){
    let evtTag = window.event.target;
    if(evtTag.tagName == 'I') evtTag = evtTag.parentNode;
    let li = '',
        json = JSON.parse(evtTag.getAttribute('data-json'));
    for(let i in json){
      li += `<li>&raquo; ${json[i]}</li>`;
    }
    Swal.fire({
      title:'Remarks',
      html:`<ul style="text-align:left">${li}</ul>`
    });

  }
  function print_leave(){
    let evtTag = window.event.target;
    if(evtTag.tagName == 'I') evtTag = evtTag.parentNode;

    let tpl = document.getElementById('leave_print').content.cloneNode(true).firstElementChild;

    let html = tpl.outerHTML;
    let json = JSON.parse(evtTag.getAttribute('data-json'));
    let reli = JSON.parse(json.remarks);
    console.log(json);
    let tmp = '';
    for(x in reli) tmp += `<li>${reli[x]}</li>`;
    json.remarks = tmp;
    htmlContent = html.replace(/\{\{(.+?)\}\}/g,  (match, tag) => json[tag.trim()]);

    jsprint(htmlContent);
  }
</script>


