
<h2
  class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
>
Salary slips
</h2>
<br />
<?php if($msg) {?>
  <div x-data="{ open: true }" x-show="open" class="flex p-3 mb-4 text-green-800 rounded-lg bg-green-100 dark:bg-gray-800 dark:text-green-400" role="alert">
    <span>
      <i class="fa-solid fa-circle-info fa-lg"></i>
    </span>
    <div class="ml-3 text-sm font-medium">
      <?=$msg?>
    </div> 
    <button type="button" @click="open = false" class="ml-auto -mx-1.5 px-1 bg-green-100 text-green-500 rounded-lg foroll:ring-2 foroll:ring-green-400 hover:bg-green-200 inline-flex  dark:bg-gray-800 dark:text-green-400 dark:hover:bg-gray-700">
      <span class="font-bold px-1"><i class="fa-solid fa-xmark fa-xl"></i></span>
    </button>
  </div>
<?php } ?>
<div id="message"></div>

<div class="flex flex-wrap -mx-3">
    <?php foreach ($payroll as $roll){?>
      <div class="w-full max-w-full px-2 sm:w-1/2 sm:flex-none xl:w-1/4 pb-3">
        <div class="relative p-2 flex flex-col min-w-0 break-words bg-white shadow-xl rounded-xl bg-clip-border">
          <div class="font-semibold pb-2"><?=$roll['payroll_name']?></div>
          <div class="pb-2"><b>Date: </b><?=helper::format_time($roll['create_date'], 'd M, Y @ H:i')?></div>
          <div class="pb-2"><b>Gross salary: </b><?=$currency?> <?=number_format($roll['payment_slips']['gross'])?>/=</div>
          <div class="pb-2"><b>Deduction: </b><?=$currency?> <?=number_format($roll['payment_slips']['deductions'])?>/=</div>
          <div class="pb-2"><b>Net salary: </b><?=$currency?> <?=number_format($roll['payment_slips']['net'])?>/=</div>
          <hr>
          <div class="text-right">
            <button onclick="view_slip()" class="fa fa-eye p-2 text-blue-500" data-json='<?=stripslashes(json_encode($roll['payment_slips']))?>'></button>
          </div>
        </div>
      </div>
    <?php }?>
</div>

</div>
<style>
  .wideSwal{
    min-width: 80%;
  }
  .wideSwal .swal2-html-container, .mySwal .swal2-html-container{
    text-align: left;
  }
</style>
<script src="js/sweetalert.min.js"></script>
<script src="js/flowbite.min.js"></script>
<script>
    var printable = '';
  function view_slip(){
    let evt = window.event;
    let _json = JSON.parse(evt.target.getAttribute('data-json')), htm = '';
    for(x in _json) htm += (x != 'slip_id' && x != 'employee')?`<div><b>${x.replace(/_/g, ' ')}: </b>${_json[x]}`:'';
    Swal.fire({
        title: evt.target.parentNode.parentNode.children[0].cloneNode(true),
        html: htm,
        confirmButtonText: 'Print',
        showCancelButton: true,
        cancelButtonText: 'Dismiss',
        customClass: 'mySwal'
    })
    .then(prompt=>{
        if(prompt.isConfirmed){
            jsprint(printable.children[0].outerHTML);
            console.log(printable);
        }
    });
    
    printable = document.querySelector('.swal2-container').cloneNode(true);
    printable.children[0].style.opacity = 1;
    printable.querySelector('.swal2-actions').style.display = 'none';
  }
</script>
