
<h2
  class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
>
Payroll
</h2>
<!-- Modal toggle -->
<div>
  <button 
  data-modal-target="add-payroll-modal" data-modal-toggle="add-payroll-modal" 
  class="float-right text-white bg-purple-700 hover:bg-purple-800 foroll:ring-4 foroll:outline-none foroll:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:foroll:ring-purple-800" type="button">
  Add payroll
</button>
</div>

<!-- Add Payroll modal -->
<div id="add-payroll-modal" tabindex="-1" aria-hidden="true" class="bg-black bg-opacity-50  fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0  h-full max-h-full">
  <div class="relative w-full max-w-4xl max-h-full items-center">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700 text-gray-900 dark:text-white">
          <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="add-payroll-modal">
            <i class="fa-solid fa-xmark fa-2xl w-5 h-2 mt-3"></i>
              <span class="sr-only"></span></span>
          </button>
          <div class="px-6 py-6 lg:px-8">
            <h3 class="mb-4 text-xl font-medium">Create payroll </h3>
            <form class="space-y-6" method="POST">
              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full sm:w-1/2 px-3 my-2 mob:my-0">
                  <label>Month
                    <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="payroll_month">
                      <option>January</option>
                      <option>February</option>
                      <option>March</option>
                      <option>April</option>
                      <option>May</option>
                      <option>June</option>
                      <option>July</option>
                      <option>August</option>
                      <option>September</option>
                      <option>October</option>
                      <option>November</option>
                      <option>December</option>
                    </select>
                  </label>
                </div>
                <div class="w-full sm:w-1/2 px-3 my-2 mob:my-0">
                  <label>Year
                    <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="payroll_year">
                      <option><?=date('Y')-1?></option>
                      <option selected><?=date('Y')?></option>
                      <option><?=date('Y')+1?></option>
                    </select>
                  </label>
                </div>
              </div>

              <div class="w-full overflow-hidden rounded-lg shadow-md">
                <div class="w-full overflow-x-auto">
                  <h3 class="mb-4 text-l font-small">Salary slips</h3>
                  <table class="w-full">
                    <thead>
                      <tr
                        class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
                      >
                        <th class="px-4 py-3"><input type="checkbox" onchange="update_checks()"></th>
                        <th class="px-4 py-3">Employee</th>
                        <th class="px-4 py-3">Basic salary</th>
                        <th class="px-4 py-3">Allowance</th>
                        <th class="px-4 py-3">Bonus</th>
                        <th class="px-4 py-3">Gross Salary</th>
                        <th class="px-4 py-3">Deductions</th>
                        <th class="px-4 py-3">Net Salary</th>
                      </tr>
                    </thead>
                    <tbody
                      class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
                    >
                    <?php 
                    if (is_array($slips) || is_object($slips))
                    foreach ($slips as $roll){?>
                      <tr id="tr-<?=$roll['slip_id']?>" class="text-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700">
                        <td class="px-4 py-3">
                          <input type="checkbox" name="p_slips[]" value="<?=$roll['slip_id']?>" class="slips-check">
                        </td>
                        <td class="px-4 py-3">
                          <div class="flex items-center text-sm">
                            <div>
                              <p class="font-semibold"><?=ucwords($roll['first_name'])?> <?=ucwords($roll['middle_name'])?> <?=ucwords($roll['last_name'])?></p>
                            </div>
                          </div>
                        </td>
                        <td class="px-4 py-3 text-sm">
                          <?=number_format($roll['basic_salary'])?>
                        </td>
                        <td class="px-4 py-3 text-sm">
                          <?=number_format($roll['allowance'])?>
                        </td>
                        <td class="px-4 py-3 text-sm">
                          <?=number_format($roll['bonus'])?>
                        </td>
                        <td class="px-4 py-3 text-sm">
                          <?=number_format(array_sum([$roll['basic_salary'],$roll['allowance'],$roll['bonus']]))?>
                        </td>
                        <td class="px-4 py-3 text-sm">
                          <?=number_format(array_sum([$roll['health_insurance_fund'],$roll['payee'],
                          $roll['health_insurance_fund'],$roll['social_security_fund'],
                          $roll['worker_compasion_fund'],$roll['education_fund']]))?>
                        </td>
                        <td class="px-4 py-3 text-sm">
                          <?=number_format(array_sum([$roll['basic_salary'],$roll['allowance'],$roll['bonus']])-array_sum([$roll['health_insurance_fund'],$roll['payee'],
                          $roll['health_insurance_fund'],$roll['social_security_fund'],
                          $roll['worker_compasion_fund'],$roll['education_fund']]))?>
                        </td>
                      </tr>
                  <?php }?>
                    </tbody>
                </table>
                </div>
              </div>

              <div class="pb-8">
                <button type="submit" class="float-right text-white bg-purple-700 hover:bg-purple-800 foroll:ring-4 foroll:outline-none foroll:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:foroll:ring-purple-800">Create</button>
              </div>
            </form>
          </div>
      </div>
  </div>
</div> 
<!-- Main modal -->
<br />
<?php if($msg) {?>
  <div x-data="{ open: true }" x-show="open" class="flex p-3 mb-4 text-green-800 rounded-lg bg-green-100 dark:bg-gray-800 dark:text-green-400" role="alert">
    <span>
      <i class="fa-solid fa-circle-info fa-lg"></i>
    </span>
    <div class="ml-3 text-sm font-medium">
      <?=$msg?>
    </div> 
    <button type="button" @click="open = false" class="ml-auto -mx-1.5 px-1 bg-green-100 text-green-500 rounded-lg foroll:ring-2 foroll:ring-green-400 hover:bg-green-200 inline-flex  dark:bg-gray-800 dark:text-green-400 dark:hover:bg-gray-700">
      <span class="font-bold px-1"><i class="fa-solid fa-xmark fa-xl"></i></span>
    </button>
  </div>
<?php } ?>
<div id="message"></div>

<div class="flex flex-wrap -mx-3">
    <?php foreach ($payroll as $roll){?>
      <div class="w-full max-w-full px-2 sm:w-1/2 sm:flex-none xl:w-1/4 pb-3">
        <div class="relative p-2 flex flex-col min-w-0 break-words bg-white shadow-xl rounded-xl bg-clip-border">
          <div class="font-semibold pb-2"><?=$roll['payroll_name']?></div>
          <div class="pb-2"><?=helper::format_time($roll['create_date'], 'd M, Y @ H:i')?></div>
          <div class="text-right">
            <button onclick="view_roll()" class="fa fa-eye p-2 text-blue-500" data-json='<?=$roll['payment_slips']?>'></button>
            <button onclick="delete_roll()" class="fa fa-trash p-2 text-red-500"></button>
          </div>
        </div>
      </div>
    <?php }?>
</div>

</div>
<template id="slip_table">
  <table class="w-full" style="width: 100%;text-align: left;">
    <thead>
      <tr>
        <th colspan="7" style="text-align: center;">
          <h1>Payroll of {{pname}}</h1>
        </th>
      </tr>
      <tr
        class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
      >
        <th class="px-4 py-3">Employee</th>
        <th class="px-4 py-3">Basic salary</th>
        <th class="px-4 py-3">Allowance</th>
        <th class="px-4 py-3">Bonus</th>
        <th class="px-4 py-3">Gross Salary</th>
        <th class="px-4 py-3">Deductions</th>
        <th class="px-4 py-3">Net Salary</th>
      </tr>
    </thead>
    <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
    <tr class="data-row text-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700">
        <td class="px-4 py-3">
          <div class="flex items-center text-sm">
            <div>
              <p class="font-semibold">{{full_name}}</p>
            </div>
          </div>
        </td>
        <td class="px-4 py-3 text-sm">
          {{basic_salary}}
        </td>
        <td class="px-4 py-3 text-sm">
          {{allowance}}
        </td>
        <td class="px-4 py-3 text-sm">
          {{bonus}}
        </td>
        <td class="px-4 py-3 text-sm">
          {{gross_salary}}
        </td>
        <td class="px-4 py-3 text-sm">
          {{deductions}}
        </td>
        <td class="px-4 py-3 text-sm">
          {{net_salary}}
        </td>
      </tr>
  </tbody>
</table>
</template>
<style>
  .wideSwal{
    min-width: 80%;
  }
  .wideSwal .swal2-html-container{
    text-align: left;
  }
</style>
<script src="js/sweetalert.min.js"></script>
<script src="js/flowbite.min.js"></script>
<script>
  async function delPayroll(values) {
    if (!confirm("Sure you want to delete payroll?")) {
      return;
    }
    
    delStaffBtn = document.getElementById(values.id);
    delStaffBtn.disabled = true;
    delStaffBtn.innerHTML = '<i class="fa-solid fa-spinner fa-spin fa-lg"></i>'

    var staffId = values.id.split('-');
    const staffData = new FormData();
    staffData.append('ajax_del_staff', staffId[1]);
    //for (let obj of staffData) {
      //console.log(obj);
    //}
    //var name = staffData.get('ajax_del_staff');
    //console.log(name);

    let url = '<?=$request_uri?>';
    let obj = {
      method: "POST", 
      body: staffData,
    }

    let response = await fetch(url, obj)
    .then(response => {
      if (!response.ok) {
        throw new Error('The response side is not ok!');
      }
      return response.json();
    })
    .then(data => {
      if(data.status == 'success'){
        document.getElementById("message").innerHTML = `<div x-data="{ open: true }" x-show="open" class="flex items-center p-3 mb-4 text-green-800 rounded-lg bg-green-100 dark:bg-gray-800 dark:text-green-400" role="alert">
          <span>
            <i class="fa-solid fa-circle-info fa-lg"></i>
          </span>
          <div class="ml-3 text-sm font-medium">
            `+data.msg+` for staff `+data.staff.first_name+` `+data.staff.middle_name+` `+data.staff.last_name
            +`.
          </div> 
          <button type="button" @click="open = false" class="ml-auto -mx-1.5 px-1 bg-green-100 text-green-500 rounded-lg focus:ring-2 focus:ring-green-400 hover:bg-green-200 inline-flex  dark:bg-gray-800 dark:text-green-400 dark:hover:bg-gray-700">
            <span class="font-bold px-1"><i class="fa-solid fa-xmark fa-xl"></i></span>
          </button>
        </div>`;console.log(data);
        document.getElementById('tr-'+staffId[1]).remove();
      }
      if(data.status == 'fail'){
        document.getElementById("message").innerHTML = `<div x-data="{ open: true }" x-show="open" class="flex items-center p-3 mb-4 text-yellow-800 rounded-lg bg-yellow-50 dark:bg-yellow-700 dark:bg-opacity-20 dark:text-yellow-400" role="alert">
          <span>
            <i class="fa-solid fa-circle-exclamation fa-lg"></i>
          </span>
          <div class="ml-3 text-sm font-medium">
            `+data.msg+` for staff `+data.staff.first_name+` `+data.staff.middle_name+` `+data.staff.last_name
            +`.
          </div> 
          <button type="button" @click="open = false" class="ml-auto -mx-1.5 px-1 bg-yellow-50 text-yellow-500 rounded-lg focus:ring-2 focus:ring-yellow-400 hover:bg-yellow-200 inline-flex  dark:bg-gray-800 dark:text-yellow-400 dark:hover:bg-gray-700">
            <span class="font-bold px-1"><i class="fa-solid fa-xmark fa-xl"></i></span>
          </button>
        </div>`;
        delStaffBtn.disabled = false;
        delStaffBtn.innerHTML = '<i class="fa-sharp fa-solid fa-trash fa-lg"></i>';
      }
      if(data.status == 'not-exist' || data.status == 'denied'){
        document.getElementById("message").innerHTML = `<div x-data="{ open: true }" x-show="open" class="flex items-center p-3 mb-4 text-yellow-800 rounded-lg bg-yellow-50 dark:bg-yellow-700 dark:bg-opacity-20 dark:text-yellow-400" role="alert">
          <span>
            <i class="fa-solid fa-circle-exclamation fa-lg"></i>
          </span>
          <div class="ml-3 text-sm font-medium">
            `+data.msg+`.
          </div> 
          <button type="button" @click="open = false" class="ml-auto -mx-1.5 px-1 bg-yellow-50 text-yellow-500 rounded-lg focus:ring-2 focus:ring-yellow-400 hover:bg-yellow-200 inline-flex  dark:bg-gray-800 dark:text-yellow-400 dark:hover:bg-gray-700">
            <span class="font-bold px-1"><i class="fa-solid fa-xmark fa-xl"></i></span>
          </button>
        </div>`;
      }
    })
    .catch(error => {
      document.getElementById("message").innerHTML = `<div x-data="{ open: true }" x-show="open" class="flex items-center p-3 mb-4 text-red-800 rounded-lg bg-red-50 dark:bg-red-700 dark:bg-opacity-20 dark:text-red-400" role="alert">
        <span>
          <i class="fa-solid fa-circle-exclamation fa-lg"></i>
        </span>
        <div class="ml-3 text-sm font-medium">
          An error occured! Please try again later.
        </div> 
        <button type="button" @click="open = false" class="ml-auto -mx-1.5 px-1 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 hover:bg-red-200 inline-flex  dark:bg-gray-800 dark:text-red-400 dark:hover:bg-gray-700">
          <span class="font-bold px-1"><i class="fa-solid fa-xmark fa-xl"></i></span>
        </button>
      </div>`;
      //console.error('Problem:', error);
      delStaffBtn.disabled = false;
      delStaffBtn.innerHTML = '<i class="fa-sharp fa-solid fa-trash fa-lg"></i>';
    });
  }

  function update_checks(){
    let cs = window.event.target.checked;
    [...document.querySelectorAll('.slips-check')].forEach(elem=>{
      elem.checked = cs;
    });
  }
  function view_roll(){
    let evtTag = window.event.target;
    if(evtTag.tagName == 'I') evtTag = evtTag.parentNode;
    let pname = evtTag.parentNode.previousElementSibling.previousElementSibling.innerHTML;
    let json = evtTag.getAttribute('data-json'),
        txt = '';
    let tpl = document.getElementById('slip_table').content.cloneNode(true).firstElementChild;
    //console.log(tpl);
    let tr = tpl.querySelector('.data-row');
    JSON.parse(json).forEach(slip=>{
      slip.gross_salary = (slip.basic_salary + slip.allowance + slip.bonus);
      slip.deductions = (slip.health_insurance_fund + slip.payee + slip.social_security_fund + slip.worker_compasion_fund + slip.education_fund);
      slip.net_salary = (slip.gross_salary - slip.deductions);
      txt += tr.outerHTML.replace(/\{\{(.+?)\}\}/g,  (match, tag) => slip[tag.trim()]);
    });
    tpl.innerHTML = tpl.innerHTML.replace(/\{\{(.+?)\}\}/g,  (match, tag) => pname);
    tpl.querySelector('.data-row').outerHTML = txt;
    tpl.setAttribute('id', 'printable_payroll')
    Swal.fire({
      html:tpl.outerHTML,
      customClass:'wideSwal',
      confirmButtonText:'Print',
      showCancelButton: true
    })
    .then(response=>{
      if(response.isConfirmed){
        jsprint(document.getElementById('printable_payroll').outerHTML);
      }
    });
  }
  function delete_roll(){
    Swal.fire({
      title: 'Sure? No UNDO when deleted!',
      icon:'question',
      confirmButtonText:'No worries, Delete',
      cancelButtonText:'Oh! no, cancel!',
      showCancelButton: true
    })
    .then(response=>{
      if(response.isConfirmed){
        let fd = new FormData();

        ajax(
          window.location.href,
          res=>{
            if(res == 'ok') {
              Swal.fire({
                icon:'success',
                title:'Deletion succeded!'
              });
            }
            else{
              Swal.fire({
                icon:'error',
                title:'Deletion fail!'
              });
            }
          },
          error=>{
            console.log(error);
          },
          fd
        );
      }
    });
  }
</script>


