
<h2
  class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
>
Payroll
</h2>
<!-- Modal toggle -->
<div>
  <button 
  data-modal-target="add-payroll-modal" data-modal-toggle="add-payroll-modal" 
  class="float-right text-white bg-purple-700 hover:bg-purple-800 foroll:ring-4 foroll:outline-none foroll:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:foroll:ring-purple-800" type="button">
  Add payroll
</button>
</div>

<!-- Add Payroll modal -->
<div id="add-payroll-modal" tabindex="-1" aria-hidden="true" class="bg-black bg-opacity-50  fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0  h-full max-h-full">
  <div class="relative w-full max-w-4xl max-h-full items-center">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700 text-gray-900 dark:text-white">
          <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="add-payroll-modal">
            <i class="fa-solid fa-xmark fa-2xl w-5 h-2 mt-3"></i>
              <span class="sr-only"></span></span>
          </button>
          <div class="px-6 py-6 lg:px-8">
            <h3 class="mb-4 text-xl font-medium">Add Payroll </h3>
            <form class="space-y-6" method="POST">
              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full sm:w-1/2 px-3 my-2 mob:my-0">
                  <label>Employee name
                    <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="employee_name">
                      <?php foreach($employee as $user){?>
                        <option value="<?=$user['user_id']?>"><?=$user['first_name']?></option>
                      <?php }?>
                    </select>
                  </label>
                </div>
                <div class="w-full mob:w-1/2 px-3 my-1 mob:my-0">
                  <label>Gross salary
                    <input name="gross_salary" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg foroll:ring-purple-500 foroll:border-purple-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" name="gross_salary" type="gross_salary" placeholder="gross_salary"> 
                  </label>
                </div>
              </div>
              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full mob:w-1/2 px-3"> 
                  <label>Payee
                    <input  name="payee" class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg foroll:ring-purple-500 foroll:border-purple-500 p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" name="payee" type="payee" placeholder="payee">
                  </label>
                </div>
                <div class="w-full mob:w-1/2 px-3 my-1 mob:my-0"> 
                  <label>Health insurance fund
                    <input name="health_insurance_fund" class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg foroll:ring-purple-500 foroll:border-purple-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" name="health_insurance_fund" type="health_insurance_fund" placeholder="health_insurance_fund">
                  </label>
                </div>
              </div>
              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full mob:w-1/2 px-3 my-1 mob:my-0">
                  <label>Social security fund
                    <input name="social_security_fund" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg foroll:ring-purple-500 foroll:border-purple-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" name="social_security_fund" type="social_security_fund" placeholder="social_security_fund">
                  </label>
                </div>
                <div class="w-full mob:w-1/2 px-3 my-1 mob:my-0">
                  <label>Worker compasion fund
                    <input name="worker_compasion_fund" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg foroll:ring-purple-500 foroll:border-purple-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" name="worker_compasion_fund" type="worker_compasion_fund" placeholder="worker_compasion_fund">
                  </label>
                </div>
                <div class="w-full mob:w-1/2 px-3 my-1 mob:my-0">
                  <label>Education fund
                    <input name="education_fund" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg foroll:ring-purple-500 foroll:border-purple-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" name="education_fund" type="education_fund" placeholder="education_fund">
                  </label>
                </div>
                <div class="w-full mob:w-1/2 px-3 my-1 mob:my-0">
                  <label>Bonus
                    <input name="payroll_bonus" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg foroll:ring-purple-500 foroll:border-purple-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" name="payroll_bonus" type="payroll_bonus" placeholder="payroll_bonus">
                  </label>
                </div>
                <div class="w-full mob:w-1/2 px-3 my-1 mob:my-0">
                  <label>Net salary
                    <input name="net_salary" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg foroll:ring-purple-500 foroll:border-purple-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" name="net_salary" type="net_salary" placeholder="net_salary">
                </div>
              </div>
              <div class="pb-8">
                <button type="submit" class="float-right text-white bg-purple-700 hover:bg-purple-800 foroll:ring-4 foroll:outline-none foroll:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:foroll:ring-purple-800">Create</button>
              </div>
            </form>
          </div>
      </div>
  </div>
</div> 
<!-- Main modal -->
<br />
<?php if($msg) {?>
  <div x-data="{ open: true }" x-show="open" class="flex p-3 mb-4 text-green-800 rounded-lg bg-green-100 dark:bg-gray-800 dark:text-green-400" role="alert">
    <span>
      <i class="fa-solid fa-circle-info fa-lg"></i>
    </span>
    <div class="ml-3 text-sm font-medium">
      <?=$msg?>
    </div> 
    <button type="button" @click="open = false" class="ml-auto -mx-1.5 px-1 bg-green-100 text-green-500 rounded-lg foroll:ring-2 foroll:ring-green-400 hover:bg-green-200 inline-flex  dark:bg-gray-800 dark:text-green-400 dark:hover:bg-gray-700">
      <span class="font-bold px-1"><i class="fa-solid fa-xmark fa-xl"></i></span>
    </button>
  </div>
<?php } ?>
<div id="message"></div>

<div class="w-full overflow-hidden rounded-lg shadow-md">
  <div class="w-full overflow-x-auto">
    <table class="w-full">
      <thead>
        <tr
          class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
        >
          <th class="px-4 py-3">Employee Name</th>
          <th class="px-4 py-3">Gross Salary</th>
          <th class="px-4 py-3">Payee</th>
          <th class="px-4 py-3">Health insurance fund</th>
          <th class="px-4 py-3">Social security fund</th>
          <th class="px-4 py-3">Worker compasion fund</th>
          <th class="px-4 py-3">Education fund</th>
          <th class="px-4 py-3">Bonus</th>
          <th class="px-4 py-3">Net Salary</th>
          <th class="px-4 py-3">Actions</th>
        </tr>
      </thead>
      <tbody
        class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
      >
      <?php 
      if (is_array($payroll) || is_object($payroll))
      foreach ($payroll as $roll)
   {?>
        <tr id="tr-<?=$roll['payroll_id']?>" class="text-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700">
          <td class="px-4 py-3">
            <div class="flex items-center text-sm">
              <div>
                <p class="font-semibold"><?=$roll['first_name']?></p>
              </div>
            </div>
          </td>
          <td class="px-4 py-3 text-sm">
            <?=$roll['gross_salary']?>
          </td>
          <td class="px-4 py-3 text-sm">
            <?=$roll['payee']?>
          </td>
          <td class="px-4 py-3 text-sm">
            <?=$roll['health_insurance_fund']?>
          </td>
          <td class="px-4 py-3 text-sm">
            <?=$roll['social_security_fund']?>
          </td>
          <td class="px-4 py-3 text-sm">
            <?=$roll['worker_compasion_fund']?>
          </td>
          <td class="px-4 py-3 text-sm">
            <?=$roll['education_fund']?>
          </td>
          <td class="px-4 py-3 text-sm">
            <?=$roll['payroll_bonus']?>
          </td>
          <td class="px-4 py-3 text-sm">
            <?=$roll['net_salary']?>
          </td>
         
          <td class="px-4 py-3">
            <div class="flex items-center space-x-4 text-sm">   
              <button  
                class="flex items-center justify-between p-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 foroll:outline-none foroll:outline-gray-300"
                aria-label="Edit"
              >
              <i class="fa-solid fa-pen-to-square fa-lg"></i>
              </button>
              <button id="del-<?=$roll['payroll_id']?>" onclick="delpayroll(this)" 
                class="flex items-center justify-between p-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 foroll:outline-none foroll:outline-gray-300"
                aria-label="Delete"
              >
              <i class="fa-sharp fa-solid fa-trash fa-lg"></i>
              </button>
            </div>
          </td>
        </tr>
      <!-- Edit payroll modal -->
      
      <!--/ Edit payroll modal -->
    <?php }?>
    </tbody>
  </table>
</div>

</div>

<script src="js/sweetalert.min.js"></script>
<script src="js/flowbite.min.js"></script>
<script>
const del = () => swal("Sure! want to delete?", {
  buttons: {
    cancel: "Cancel!",
    catch: {
      text: "Delete!",
      value: "delete",
    }
  },
})
.then((value) => {
  switch (value) {
    case "delete":
      swal("Done!", "User deleted!", "success");
      break;
  }
});
</script>


