<style>
  .myContainer {
    margin: 15px;
  }
  .empDetail {
    width: 100%;
    text-align: left;
  }
  .head {
    margin: 10px;
    margin-bottom: 50px;
    width: 100%;
  }
  .companyName {
    width: 50%;
    float: left;
  }
  .salaryMonth {
    text-align: center;
  }
  .myBackground {
    padding-top: 10px;
    text-align: left;
    background-color: #16365c;
    color: white;
  }
  .myAlign {
    text-align: right;
  }
  .myTotalBackground {
    padding-top: 10px;
    text-align: left;
    background-color: #ebf1de;
    border-spacing: 0px;
  }
  .align-4 {
    width: 25%;
    float: left;
  }
  .tail {
    margin-top: 35px;
  }
  .align-2 {
    margin-top: 25px;
    width: 50%;
    float: left;
  }
</style>
<div class="myContainer" style="width: 980px; margin: 0 auto; overflow: hidden">
  <div class="head">
    <div class="companyName">Banny Company Limited</div>
    <div class="salaryMonth">This Month Salary</div>
  </div>
  <table class="empDetail">
    <tr>
      <th>Jasper Kaunzi</th>
      <td>Example</td>
      <th>Employ Code</th>
      <td>ABC123</td>
    </tr>
    <tr>
      <th>Pan No</th>
      <td>765-677-98</td>
      <th>Bank A/C no.</th>
      <td>014344321346</td>
    </tr>
    <tr>
      <th>Day Present</th>
      <td>22</td>
      <th>Designation</th>
      <td>Software developer</td>
    </tr>
    <tr class="myBackground">
      <th colspan="2">Earnings</th>
      <th colspan="2">Deductions</th>
    </tr>
    <tr>
      <th>Basic Salary</th>
      <td class="myAlign">500,000.00</td>
      <th>Provident Fund</th>
      <td class="myAlign">00.00</td>
    </tr>
    <tr>
      <th>Overtime</th>
      <td class="myAlign">00.00</td>
      <th>Professional Tax</th>
      <td class="myAlign">00.00</td>
    </tr>
    <tr>
      <th>Incentive Pay</th>
      <td class="myAlign">00.00</td>
      <th>ESI</th>
      <td class="myAlign">00.00</td>
    </tr>
    <tr>
      <th>Bonus</th>
      <td class="myAlign">00.00</td>
      <th>Advance Salary</th>
      <td class="myAlign">00.00</td>
    </tr>
    <tr>
      <th>House Rent Allowance</th>
      <td class="myAlign">00.00</td>
      <th>Other Deduction</th>
      <td class="myAlign">00.00</td>
    </tr>
    <tr>
      <th>Mobile</th>
      <td class="myAlign">00.00</td>
    </tr>
    <tr>
      <th>Fuel Allowance</th>
      <td class="myAlign">00.00</td>
    </tr>
    <tr>
      <th>Other Allowance</th>
      <td class="myAlign">00.00</td>
    </tr>
    <tr>
      <th>Medical</th>
      <td class="myAlign">00.00</td>
    </tr>
    <tr class="myTotalBackground">
      <th>Total Earnings</th>
      <td class="myAlign">500,000.00</td>
      <th>Total Deductions</th>
      <td class="myAlign">0.00</td>
    </tr>
    <tr>
      <th></th>
      <td></td>
      <th>Net Salary</th>
      <td>500,000.00</td>
    </tr>
  </table>
  <div class="tail">
    <div class="align-4">Mode of payment:</div>
    <div class="align-4">(Online/ Cash/ Cheque/ DD)</div>
    <div class="align-4">Number</div>
    <div class="align-4">..............................................</div>
    <div class="align-2">(Employ Signature)</div>
    <div class="align-2">(Authorized Signature)</div>
  </div>
</div>
