
<h2
  class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
>
  Products
</h2>
<!-- Modal toggle -->
<div>
  <button 
  data-modal-target="add-product-modal" data-modal-toggle="add-product-modal" 
  class="float-right text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800" type="button">
  Add product
  </button>
</div>

<!-- Main modal -->
<div id="add-product-modal" tabindex="-1" aria-hidden="true" class="bg-black bg-opacity-50 fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-full max-h-full">
  <div class="relative w-full max-w-md max-h-full">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700 text-gray-900 dark:text-white">
          <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="add-product-modal">
            <i class="fa-solid fa-xmark fa-2xl w-5 h-2 mt-3"></i>
              <span class="sr-only">Close modal</span>
          </button>
          <div class="px-6 py-6 lg:px-8">
            <h3 class="mb-4 text-xl font-medium">Add Product </h3>
            <form class="space-y-6" method="POST" enctype="multipart/form-data">
              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3">
                  <label>Product Image
                    <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"  type="file" placeholder="Product image" name="product_photo">
                  </label>
                </div>
              </div>
              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3">
                  <label>Product name
                    <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"  type="text" placeholder="Product name" name="product_name">
                  </label>
                </div>
              </div>
              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3">
                  <label>Product Discription
                    <textarea class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"  type="text" placeholder="Product Discription" name="product_description"></textarea>
                  </label>
                </div>
              </div>
              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3">
                  <label>Unit
                    <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="Unit" name="product_unit">
                  </label>
                </div>
              </div> 
              <button type="submit" class="w-full text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">Create</button>
            </form>
          </div>
      </div>
  </div>
</div> 
<!--/ Add product modal -->
<br />
<?php if($msg) {?>
  <div x-data="{ open: true }" x-show="open" class="flex p-3 mb-4 text-green-800 rounded-lg bg-green-100 dark:bg-gray-800 dark:text-green-400" role="alert">
    <span>
      <i class="fa-solid fa-circle-info fa-lg"></i>
    </span>
    <div class="ml-3 text-sm font-medium">
      <?=$msg?>
    </div> 
    <button type="button" @click="open = false" class="ml-auto -mx-1.5 px-1 bg-green-100 text-green-500 rounded-lg focus:ring-2 focus:ring-green-400 hover:bg-green-200 inline-flex  dark:bg-gray-800 dark:text-green-400 dark:hover:bg-gray-700">
      <span class="font-bold px-1"><i class="fa-solid fa-xmark fa-xl"></i></span>
    </button>
  </div>
<?php } ?>

<div id="message"></div>
<div class="w-full overflow-hidden rounded-lg shadow-md">
  <div class="w-full overflow-x-auto">
    <table class="w-full">
      <thead>
        <tr
          class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
          <th class="px-4 py-3"></th>
          <th class="px-4 py-3">Name</th>
          <th class="px-4 py-3">Discription</th>
          <th class="px-4 py-3">Unit</th>
          <th class="px-4 py-3">Actions</th>
        </tr>
      </thead>
      <tbody
        class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
      >
      <?php foreach($product as $prod){?>
        <tr id="tr-<?=$prod['product_id']?>" class="text-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700">
          <td class="px-4 py-3">
            <img src="uploads/products/<?=$prod['product_img']?>" class="h-16 w-16 object-cover"/>
          </td>
          <td class="px-4 py-3">
            <?=$prod['product_name']?>
          </td>
          <td class="px-4 py-3 text-sm">
            <?=$prod['product_description']?>
          </td>
          <td class="px-4 py-3 text-sm">
            <?=$prod['product_unit']?>
          </td>
          <td class="px-4 py-3">
            <div class="flex items-center space-x-4 text-sm">   
              <button data-modal-target="add-product-modal-<?=$prod['product_id']?>" data-modal-toggle="add-product-modal-<?=$prod['product_id']?>" 
                class="flex items-center justify-between p-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 foprod:outline-none foprod:outline-gray-300"
                aria-label="Edit"
              >
              <i class="fa-solid fa-pen-to-square fa-lg"></i>
              </button>
              <button id="del-<?=$prod['product_id']?>" onclick="delproduct(this)" 
                class="flex items-center justify-between p-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 foprod:outline-none foprod:outline-gray-300"
                aria-label="Delete"
                >
              <i class="fa-sharp fa-solid fa-trash fa-lg"></i>
              </button>
            </div>
          </td>
        </tr>
        <!-- Main modal -->
        <div id="add-product-modal-<?=$prod['product_id']?>" tabindex="-1" aria-hidden="true" class="bg-black bg-opacity-50 fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-full max-h-full">
          <div class="relative w-full max-w-md max-h-full">
              <!-- Modal content -->
              <div class="relative bg-white rounded-lg shadow dark:bg-gray-700 text-gray-900 dark:text-white">
                  <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="add-product-modal-<?=$prod['product_id']?>">
                    <i class="fa-solid fa-xmark fa-2xl w-5 h-2 mt-3"></i>
                      <span class="sr-only">Close modal</span>
                  </button>
                  <div class="px-6 py-6 lg:px-8">
                    <h3 class="mb-4 text-xl font-medium">Update Product </h3>
                    <form class="space-y-6" method="POST" enctype="multipart/form-data">
                      <input type="hidden" name="product_id" value="<?=$prod['product_id']?>">
                      <div class="flex flex-wrap -mx-3 mb-6">
                        <div class="w-full px-3">
                          <label>Product Image
                            <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"  type="file" placeholder="Product image" name="product_photo">
                          </label>
                        </div>
                      </div>
                      <div class="flex flex-wrap -mx-3 mb-6">
                        <div class="w-full px-3">
                          <label>Product name
                            <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"  type="text" placeholder="Product name" value="<?=$prod['product_name']?>" name="product_name">
                          </label>
                        </div>
                      </div>
                      <div class="flex flex-wrap -mx-3 mb-6">
                        <div class="w-full px-3">
                          <label>Product Discription
                            <textarea class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="Product Discription" name="product_description"><?=$prod['product_description']?></textarea>
                          </label>
                          <input type="hidden" name="product_description" value="<?=$prod['product_description']?>" />
                        </div>
                      </div>
                      <div class="flex flex-wrap -mx-3 mb-6">
                        <div class="w-full px-3">
                          <label>Unit
                            <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"  type="text" value="<?=$prod['product_unit']?>" placeholder="Unit" name="product_unit">
                          </label>
                        </div>
                      </div> 
                      <button type="submit" class="w-full text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">Update product</button>
                    </form>
                  </div>
              </div>
          </div>
        </div> 
        <!--/ Add product modal -->
        <?php }?>
      </tbody>
    </table>
  </div>
  
</div>
    
<script src="js/sweetalert.min.js"></script>
<script src="js/flowbite.min.js"></script>
<script>
  async function delproduct(values) {
    if (!await swal({text: 'Deleting a product can not be undone!', buttons: true})) {
      return;
    }
    delproductBtn = document.getElementById(values.id);
    delproductBtn.disabled = true;
    delproductBtn.innerHTML = '<i class="fa-solid fa-spinner fa-spin fa-lg"></i>'

    var productId = values.id.split('-');
    const productData = new FormData();
    productData.append('ajax_del_product', productId[1]);

    let url = window.location.href;
    let obj = {
      method: "POST", 
      body: productData,
    }

    let response = await fetch(url, obj)
    .then(response => {
      if (!response.ok) {
        throw new Error('The response side is not ok!');
      }
      return response.json();
    })
    .then(data => {  
      if(data.status.trim() == 'success'){
        swal(data.msg, '', "success");
        document.getElementById('tr-'+productId[1]).remove();
      }
      else if(data.status == 'fail'){
        swal(data.msg, '', "error");
        delproductBtn.disabled = false;
        delproductBtn.innerHTML = '<i class="fa-sharp fa-solid fa-trash fa-lg"></i>';
      }
      else if(data.status == 'not-exist' || data.status == 'denied'){
        swal(data.msg, '', "error");
      }
    })
    .catch(error => {
      swal('There is an error deleting product', '', "error");
      delproductBtn.disabled = false;
      delproductBtn.innerHTML = '<i class="fa-sharp fa-solid fa-trash fa-lg"></i>';
    });
  }
</script>

