
<h2
  class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
>
  Account profile
</h2>

<div class="flex flex-col sm:flex-row">
  <div>
    <a href="<?=$home?>/Profile" class="flex flex-row mx-2 mb-2 lg:mb-6 shadow text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">
      <i class="fa-regular fa-user mt-1"></i>
      <div class="px-2">Account</div>
    </a>
  </div>
  <div>
    <a href="<?=$home?>/HR/Leave/me" class="flex flex-row mx-2 mb-2 lg:mb-6 shadow text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">
      <i class="fa-regular fa-user mt-1"></i>
      <div class="px-2">My Leave</div>
    </a>
  </div>
  
  <!--<div>
    <a href="" class="flex flex-row mx-2 mb-6 shadow text-gray-900 hover:bg-purple-800 hover:text-white dark:hover:bg-purple-700 dark:text-white focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
      <i class="fa-sharp fa-solid fa-shield-halved mt-1"></i>
      <div class="px-2">Security</div>
    </a>
  </div>
  <div>
    <a href="" class="flex flex-row mx-2 mb-6 shadow text-gray-900 hover:bg-purple-800 hover:text-white dark:hover:bg-purple-700 dark:text-white focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
      <div class="px-2">My leave</div>
    </a>
  </div>
  <!--
  <div>
    <a href="" class="flex flex-row mx-2 mb-6 shadow text-gray-900 hover:bg-purple-800 hover:text-white dark:hover:bg-purple-700 dark:text-white focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
      <i class="fa-solid fa-money-bills mt-1"></i>
      <div class="px-2">My salaries</div>
    </a>
  </div>-->
</div>

<!-- Basic user info -->
<div class="flex flex-col sm:flex-row gap-4">
  <div class="w-full sm:w-1/3 p-6 shadow rounded-lg border border-gray-200  bg-white dark:bg-gray-800 dark:border-gray-700 tracking-tight text-gray-900 dark:text-white">
    <div class="py-8">
        <div class="photo-wrapper p-2">
            <img class="w-32 h-32 rounded-full mx-auto" loading="lazy" src="<?=helper::get_user_avatar($user['user_id'])?>" alt="">
        </div>
        <div class="p-2">
            <h3 class="text-center text-xl font-medium leading-8">
              <?=implode(' ', [$user['first_name'], $user['middle_name'],$user['last_name']])?>
            </h3>
            <div class="text-center text-gray-400 text-lg font-semibold">
                <p><?=$user['designation_name']?></p>
            </div>
        </div>
    </div>
  </div>

  <div class="w-full sm:w-2/3 p-6 shadow rounded-lg border border-gray-200  bg-white dark:bg-gray-800 dark:border-gray-700 tracking-tight text-gray-900 dark:text-white">
    <div>
      <h5 class="mb-2 text-2xl font-semibold">About</h5>
    </div>
    <div class="w-full max-w-lg text-lg">
      <div class="flex flex-wrap -mx-3 mb-3">
        <div class="px-3 font-semibold">
          Email:
        </div>
        <div class="px-3">
          <?=$user['email']?>
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-3">
        <div class="px-3 font-semibold">
          Phone:
        </div>
        <div class="px-3">
          <?=$user['phone_number']?>
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-3">
        <div class="px-3 font-semibold">
          Address:
        </div>
        <div class="px-3">
          <?=$user['staff_residence_address']?>
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-3">
        <div class="px-3 font-semibold">
          Role:
        </div>
        <div class="px-3">
          <?=$user['role_name']?>
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-3">
        <div class="px-3 font-semibold">
          Registered on:
        </div>
        <div class="px-3">
          <?=helper::format_time($user['created_time'], 'd M, Y @ H:i')?>
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-3">
        <div class="px-3 font-semibold">
          Department:
        </div>
        <div class="px-3">
          <?=$user['department_name']?>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Basic user info -->
<br>
<div class="flex flex-col sm:flex-row gap-4">
  <div class="w-full sm:w-1/2 p-6 shadow rounded-lg border border-gray-200  bg-white dark:bg-gray-800 dark:border-gray-700 tracking-tight text-gray-900 dark:text-white">
    <div>
      <h5 class="mb-2 text-2xl font-semibold">Employment</h5>
    </div>
    <div class="w-full max-w-lg text-lg">
      <div class="flex flex-wrap -mx-3 mb-3">
        <div class="px-3 font-semibold">
          Employment registration:
        </div>
        <div class="px-3">
          <?=$user['staff_registration_number']?>
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-3">
        <div class="px-3 font-semibold">
          Employment date:
        </div>
        <div class="px-3">
          <?=helper::format_time($user['staff_date_employed'], 'd M, Y')?>
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-3">
        <div class="px-3 font-semibold">
          Employment length:
        </div>
        <div class="px-3">
          <?=intval($user['employment_length'])?> years
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-3">
        <div class="px-3 font-semibold">
          Employment status:
        </div>
        <div class="px-3">
          <?=$user['employment_status']?>
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-3">
        <div class="px-3 font-semibold">
          Employment last renewal:
        </div>
        <div class="px-3">
          <?=$user['employment_last_renewal']?>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full sm:w-1/2 p-6 shadow rounded-lg border border-gray-200  bg-white dark:bg-gray-800 dark:border-gray-700 tracking-tight text-gray-900 dark:text-white">
    <div>
      <h5 class="mb-2 text-2xl font-semibold">More</h5>
    </div>
    <div class="w-full max-w-lg text-lg">
      <div class="flex flex-wrap -mx-3 mb-3">
        <div class="px-3 font-semibold">
          Work location:
        </div>
        <div class="px-3">
          <?=$user['work_location']?$user['branch_name']:'Headquarters'?>
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-3">
        <div class="px-3 font-semibold">
          Payment bank:
        </div>
        <div class="px-3">
          <?=$user['bank_name']?>
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-3">
        <div class="px-3 font-semibold">
          Account number:
        </div>
        <div class="px-3">
          <?=$user['bank_account_number']?>
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-3">
        <div class="px-3 font-semibold">
          Profile:
        </div>
        <div class="px-3">
          <button onclick="change_avatar(`<?=$user['user_id']?>`)">Change avatar</button>
        </div>
      </div>
      <div class="flex flex-wrap -mx-3 mb-3">
        <div class="px-3 font-semibold">
          Security:
        </div>
        <div class="px-3">
          <button onclick="changePassword(`<?=$user['user_id']?>`)">Change password</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  toggleEditPass = document.getElementById("toggle-edit-pass");
  passInfo = document.getElementById("pass-info");

  function changePassword() {
    userInfo.innerHTML = `<div class="flex-auto">
      <form role="form" method="POST">
        <label class="mb-2 ml-1 font-bold text-xs text-slate-700">Full name</label>
        <div class="mb-4">
          <input type="text" name="full_name" class="focus:shadow-soft-primary-outline text-sm leading-5.6 ease-soft block w-full appearance-none rounded-lg border border-solid border-gray-300 bg-white bg-clip-padding px-3 py-2 font-normal text-gray-700 transition-all focus:border-fuchsia-300 focus:outline-none focus:transition-shadow" placeholder="Full name" value="`+userName.innerHTML+`"/>
        </div>
        <div class="text-center">
          <button type="submit" name="update-my-profile" class="inline-block w-32 px-3 py-2 mt-6 mb-0 font-bold text-center text-white uppercase align-middle transition-all bg-transparent border-0 rounded-lg cursor-pointer shadow-soft-md bg-x-25 bg-150 leading-pro text-xs ease-soft-in tracking-tight-soft bg-gradient-to-tl from-blue-600 to-cyan-400 hover:scale-102 hover:shadow-soft-xs active:opacity-85">Save</button>
        </div>
      </form>
    </div>`;
    toggleUserEdit.innerHTML = `<button type="button" onclick="cancelEditUserInfo()">
      <i class="leading-normal fas fa-user-edit text-sm text-slate-400"></i>
      <span class="pl-1">Cancel</span>
    </button>`;
  }

  function cancelChangePass() {
    userInfo.innerHTML = prevUserInfo;
    toggleUserEdit.innerHTML = `<button type="button" onclick="editUserInfo()">
      <i class="leading-normal fas fa-user-edit text-sm text-slate-400"></i>
      <span class="pl-1">Edit</span>
    </button>`;
  }
</script>