<style>
  /*[role="tab"].active,[role="tab"].active:hover {
    color: #6D28D9;
    border-color: #6D28D9;
  }
  
  .dark [role="tab"].active,.dark [role="tab"].active:hover {
    color: #6D28D9;
    border-color: #6D28D9;
  }*/
</style>
<div class="flex flex-row justify-between">
  <h2
  class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
  >
  <?=$project['project_name']?>
  </h2>
  <div class="p-4">
    <p class="text-xl">
      <span class="bg-purple-200 text-purple-600 dark:bg-purple-600 dark:text-purple-200 py-1 px-3 rounded-full text-xs">
        <?=str_replace('_',' ',ucwords($project['project_status']))?>
      </span>
    </p>
  </div>
</div>
<div class="w-full bg-gray-50 dark:bg-gray-800 text-gray-900 dark:text-gray-300">
  <div class="shadow rounded-lg overflow-hidden">
    <?php if(helper::init()->user_can('can_view_project_budget')){?>
      <div class="flex flex-row justify-between">
        <div class="p-4">
          <p class="text-xl"><?=$currency?> <?=number_format($project['project_burget'])?></p>
          <p class="text-gray-700 dark:text-gray-400">Budget</p>
        </div>
        <div class="p-4">
          <p class="text-xl"><?=$currency?> <?=number_format($project['project_burget'])?></p>
          <p class="text-gray-700 dark:text-gray-400">Used</p>
        </div>
      </div>
      <?php }?>
      <div class="px-4 py-3 border-t border-gray-200 dark:border-gray-700 flex flex-row w-full">
        <div class="shrink-0 w-full mob:w-1/2">
          <div class="flex flex-row">
            <p>Starting Date:</p>
            <p class="pl-2 font-bold"><?=helper::format_time($project['project_starting_date'],'d M, Y')?></p>
          </div>
          <div class="flex flex-row">
            <p>Ending Date:</p>
            <p class="pl-2 font-bold"><?=helper::format_time($project['project_ending_date'],'d M, Y')?></p>
          </div>
          <div class="flex flex-row">
            <p>Time duration:</p>
            <p class="pl-2 font-bold">2 yrs <?=$project['actual_end_time']?></p>
          </div>
        </div>
        <div class="mob:block hidden w-1/2">
          <div className="inline-block w-[200px]">
            <p class="font-bold">Description</p>
            <span className="font-semibold truncate block">
              <?=$project['project_description']?>
            </span>
          </div>
        </div>
      </div>
      <div class="px-5 py-3 border-t border-gray-200 dark:border-gray-700 flex flex-row">
        <div class="w-1/2">
          <div class="text-xs uppercase font-bold text-gray-600 dark:text-gray-400 tracking-wide">Project Manager</div>
          <div class="flex items-center pt-2">
            <div class="bg-cover bg-center w-8 h-8 rounded-full mr-3" style="background-image: url(../assets/img/no-profile.jpg)">
            </div>
            <div>
              <p class="font-bold"><?=$project['pm_name']?></p>
              <p class="text-sm text-gray-700 dark:text-gray-400"><?=$project['designation_name']?></p>
            </div>
          </div>
        </div>
        <div class="w-1/2">
          <div class="text-xs uppercase font-bold text-gray-600 dark:text-gray-400 tracking-wide">Client</div>
          <div class="items-center pt-2">
            <div>
              <p class="font-bold"><?=$project['customer_name']?></p>
              <a href="tel:+<?=helper::format_phone_number($project['customer_phone_number'])?>" class="text-sm text-gray-700 dark:text-gray-400">
                <?=helper::format_phone_number($project['customer_phone_number'])?>
              </a>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>

<!-- Add activity modal -->
<div id="add-activity-modal" tabindex="-1" aria-hidden="true" class="bg-black bg-opacity-50 fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-full max-h-full">
  <div class="relative w-full max-w-lg max-h-full items-center">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="add-activity-modal">
            <i class="fa-solid fa-xmark fa-2xl w-5 h-2 mt-3"></i>
              <span class="sr-only">Close modal</span>
          </button>
          <div class="px-3 py-6 lg:px-8 text-gray-900 dark:text-white">
            <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Add activity</h3>
            <div class="mb-4">
              <form method="POST">
                <div class="flex flex-wrap -mx-3 mb-6">
                  <div class="w-full px-3 my-2 mob:my-0">
                    <label>Activity name
                      <input name="activity_name" required class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block p-1.5 dark:bg-gray-800 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="Add new activity">
                    </label>
                  </div>
                </div>
                <div class="flex flex-wrap -mx-3 mb-6">
                  <div class="w-full px-3 my-2 mob:my-0">
                    <label>Activity duration(days)
                      <input name="activity_duration" type="number" required class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block p-1.5 dark:bg-gray-800 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="Add new activity">
                    </label>
                  </div>
                </div>
                <div class="flex flex-wrap -mx-3 mb-6">
                  <div class="w-full px-3 my-2 mob:my-0">
                    <label>Activity assignee
                      <select required class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="project_assignee" required> 
                        <option selected="true" disabled="disabled">Choose...</option> 
                        <?php foreach($users as $assignee) { ?>
                        <option value="<?=$assignee['user_id']?>"><?=$assignee['full_name']?></option>
                        <?php } ?>
                      </select>
                    </label>
                    <input type="hidden" name="project_ref" value="<?=$project['project_id']?>">
                    <input type="hidden" name="activity_parent" value="0">
                  </div>
                </div>
                <div class="flex flex-wrap -mx-3 mb-6">
                  <div class="w-full px-3 my-2 mob:my-0">
                    <label>Activity description
                      <textarea required name="activity_description" class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block p-1.5 dark:bg-gray-800 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="Add new activity"></textarea>
                    </label>
                  </div>
                </div>
                <div class="text-right">
                  <button class="mr-2 text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-3 py-1.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800" type="submit">Save</button>
                </div>
              </form>
            </div>
          </div>
      </div>
  </div>
</div>   
<!--/ Add activity modal -->
<!-- Add resources modal -->
<div id="add-resources-modal" tabindex="-1" aria-hidden="true" class="bg-black bg-opacity-50 fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-full max-h-full">
  <div class="relative w-full max-w-lg max-h-full items-center">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="add-resources-modal">
        <i class="fa-solid fa-xmark fa-2xl w-5 h-2 mt-3"></i>
          <span class="sr-only">Close modal</span>
      </button>
      <div class="px-3 py-6 lg:px-8 text-gray-900 dark:text-white">
        <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Request resources</h3>
        <div class="mb-4">
          <form method="POST">
            <!--input type="hidden" name="project_ref" value="<?=$project['project_id']?>"-->
            <div class="-mx-3 mb-6">
              <div class="w-full px-3 my-2 mob:my-0">
                <label>Activity <span class="text-red-500">*</span></label>
                  <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="activity_ref" required> 
                    <option value="">Choose...</option> 
                    <?php foreach($activity as $acts){?>
                      <optgroup label="<?=$acts['activity_name']?>">
                      <?php foreach($acts['tasks'] as $task) { ?>
                      <option value="<?=$task['activity_id']?>"><?=$task['activity_name']?></option>
                      <?php } ?>
                      </optgroup>
                    <?php }?>
                  </select>
              </div>
            </div>
            <div class="-mx-3 mb-6">
              <div class="w-full px-3 my-2 mob:my-0">
                <label>Resource type <span class="text-red-500">*</span>
                  <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="activity_resource_type" required onchange="changeSelectResources(this);"> 
                    <option selected="true" disabled="disabled">Choose...</option> 
                    <option value="people">People</option>
                    <option value="tools">Tools</option>
                    <option value="deliverables">Deliverables</option>
                  </select>
                </label>
              </div>
            </div>
            <div id="toggle-resource"></div>
            <div class="text-right">
              <button class="mr-2 text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-3 py-1.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800" type="submit">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>   
<!--/ Add resources modal -->
<!-- View task button -->
<div class="text-right pb-2 hidden">
  <button id="view-task-modal-id" data-modal-target="view-task-modal" data-modal-toggle="view-task-modal" type="button" class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-3 py-1.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">View task
  </button>
</div>
<!--/ View task button -->
<!-- View task modal -->
<div id="view-task-modal" tabindex="-1" aria-hidden="true" class="bg-black bg-opacity-50 fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-full max-h-full">
  <div class="relative w-full max-w-4xl max-h-full items-center">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="view-task-modal">
        <i class="fa-solid fa-xmark fa-2xl w-5 h-2 mt-3"></i>
          <span class="sr-only">Close modal</span>
      </button>
      <div class="px-3 py-6 lg:px-8 text-gray-900 dark:text-white">
        <h3 id="taskNameOnModal" class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Task details</h3>
        <div class="mb-4">
          <div id="task-details">
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>   
<!--/ View task modal -->

<div class="py-2">
  <!-- Tabs -->
  <div class="border-b border-gray-200 dark:border-gray-700 mb-4">
    <ul class="flex flex-wrap -mb-px" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
      <li class="mr-2" role="presentation">
        <button class="inline-block text-gray-500 hover:text-gray-600 hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-300 dark:hover:text-gray-200 active" id="activities-tab" data-tabs-target="#activities" type="button" role="tab" aria-controls="activities" aria-selected="true">Activities</button>
      </li>
      <!--<li class="mr-2" role="presentation">
        <button class="inline-block text-gray-500 hover:text-gray-600 hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-300 dark:hover:text-gray-200" id="resources-tab" data-tabs-target="#resources" type="button" role="tab" aria-controls="resources" aria-selected="false">Resources</button>
      </li>-->
      <li class="mr-2" role="presentation">
        <button class="inline-block text-gray-500 hover:text-gray-600 hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-300 dark:hover:text-gray-200" id="report-tab" data-tabs-target="#report" type="button" role="tab" aria-controls="report" aria-selected="false">Reports</button>
      </li>
    </ul>
  </div>
  <!-- Tabs -->
  <!-- Details -->
  <div id="myTabContent">
    <div class="px-4 rounded-lg" id="activities" role="tabpanel" aria-labelledby="activities-tab">
      
      
      <div class="text-right pb-2">
            
        <button data-modal-target="add-resources-modal" data-modal-toggle="add-resources-modal" type="button" class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-3 py-1.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">
          Add resources
        </button>
        <button data-modal-target="add-activity-modal" data-modal-toggle="add-activity-modal" class="hidden"></button>
        <button type="button" onclick="add_activity(0)" class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-3 py-1.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">
          Add main activity
        </button>
      </div>
      <!-- Activities -->
      <div class="grid divide-y-4 divide-gray-100 dark:divide-gray-900 ">

        <?php foreach($activity as $act){rsort($act['tasks'])?>
        <!-- Main activity -->
        <div class="rounded-lg bg-white dark:bg-gray-800">
          <details class="group text-gray-900 dark:text-gray-200">
            <summary class="flex items-center font-medium cursor-pointer list-none p-2" x-data="{ open: false, color: false }" @keydown.escape="open = false" @click.away="open = false">
              <span class="transition group-open:-rotate-90">
                <svg fill="none" height="16" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="16"><path d="M6 9l6 6 6-6"></path>
                </svg>
              </span>
              <!--  -->
              <div class="flex justify-between w-full">
                <div id="actContent-01"><?=$act['activity_name']?></div>
                <div class="relative">
                  <div class="flex w-full">
                    <span class="bg-purple-200 text-purple-600 px-3 rounded-full text-xs">
                      <?=$act['activity_duration']?> days
                    </span>
                    <a href="javascript:void(0);" @click="open = !open">
                      <svg fill="currentColor" class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M10 12a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0-6a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 12a2 2 0 1 1 0-4 2 2 0 0 1 0 4z"></path></svg>
                    </a>
                  </div>
                  <div x-show="open" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-75" x-transition:leave-start="transform opacity-100 scale-100" x-transition:leave-end="transform opacity-0 scale-95" 
                  class="absolute z-20 bg-gray-100 dark:bg-gray-900 text-gray-700 dark:text-gray-300 origin-top-right right-0 mt-2 w-36 rounded-md shadow-lg overflow-hidden border-2 border-gray-300 dark:border-gray-700">
                    
                  <a onclick="add_activity(<?=$act['activity_id']?>)" class="flex p-2 text-sm hover:bg-gray-200 dark:hover:bg-gray-800">
                    <span class="mr-auto">Add task</span>
                  </a>
                  <button id="editActId-02" onclick="editActivity(this)" class="flex p-2 text-sm hover:bg-gray-200 dark:hover:bg-gray-800">
                    <span class="mr-auto">Edit activity</span>
                  </button>
                    <a href="javascript:void(0);" class="flex p-2 text-sm hover:bg-gray-200 dark:hover:bg-gray-800">
                      <span class="mr-auto">Delete activity</span>
                    </a>
                    <a href="javascript:void(0);" class="flex p-2 text-sm hover:bg-gray-200 dark:hover:bg-gray-800">
                      <span class="mr-auto">Mark as done</span>
                    </a>
                  </div>
                </div>
              </div>
              <!--/  -->
            </summary>
            <div class="text-gray-800 dark:text-gray-200 divide-y-4 divide-white dark:divide-gray-800 mb-3">

              <?php foreach($act['tasks'] as $task){?>
              <!-- Sub activity -->
              <div class="py-1 mx-5 px-5 rounded bg-gray-100 dark:bg-gray-900">
                <div  onclick="openViewTask(<?=$task['activity_id']?>)" class="flex flex-row content-center cursor-pointer justify-between">
                  <div>
                    <a id="taskName-<?=$task['activity_id']?>" class="underline"><?=$task['activity_name']?></a>
                  </div>
                  <div class="shrink-0 flex flex-row">
                    <?php if(isset($task['qty']['deliverables'])){?>
                    <div class="text-center pr-2">
                      <span class="bg-purple-200 text-purple-600 px-3 rounded-full text-xs">
                        Deliverable (<?=$task['qty']['deliverables']?>)
                      </span>
                    </div>
                    <?php }?>
                    <?php if(isset($task['qty']['people'])){?>
                    <div class="text-center pr-2">
                      <span class="bg-purple-200 text-purple-600 px-3 rounded-full text-xs">
                        People (<?=$task['qty']['people']?>)
                      </span>
                    </div>
                    <?php }?>
                    <?php if(isset($task['qty']['tools'])){?>
                    <div class="text-center pr-2">
                      <span class="bg-purple-200 text-purple-600 px-3 rounded-full text-xs">
                        Tool (<?=$task['qty']['tools']?>)
                      </span>
                    </div>
                    <?php }?>
                    <div class="text-center pr-2">
                      <span class="bg-purple-200 text-purple-600 px-3 rounded-full text-xs">
                        <?=$task['activity_duration']?> days
                      </span>
                    </div>
                    <div class="text-center pr-2">
                      <span id="sub-act-status-<?=$task['activity_id']?>" class="bg-purple-200 text-purple-600 px-3 rounded-full text-xs">
                        <?=$task['activity_status']?>
                      </span>
                    </div>
                    <div>
                      <img src="<?=helper::init()->get_user_avatar($task['assignee_id'])?>" class="w-6 h-6 rounded-full" alt="">
                    </div>
                  </div>
                </div>
              </div>
              <!--/ Sub activity -->
              <?php }?>
              
            </div>
          </details>
        </div>
        <!--/ Main activity -->
        <?php }?>

      </div>
      <!--/ Activities -->
    </div>

    <div class="px-4 rounded-lg hidden text-gray-800 dark:text-gray-200" id="resources" role="tabpanel" aria-labelledby="resources-tab">
      <div class="text-right pb-2">
        <button data-modal-target="add-resources-modal" data-modal-toggle="add-resources-modal" type="button" class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-3 py-1.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">
          Add resources
        </button>
      </div>
      <!-- Tool -->
      <div class="pb-2">
        <div class="py-2">Tools</div>
        <ul class="rounded overflow-hidden bg-white dark:bg-gray-800">
          <li class="px-4 py-2 hover:bg-gray-200 dark:hover:bg-slate-700 border-b last:border-none border-gray-200 dark:border-gray-600 transition-all duration-300 ease-in-out">
            <div class="flex flex-row justify-between">
              <div>Drill kubwa</div>
              <div><a href="javascript:void(0);" class="text-red-500">Delete</a></div>
            </div>
          </li>
          <li class="px-4 py-2 hover:bg-gray-200 dark:hover:bg-slate-700 border-b last:border-none border-gray-200 dark:border-gray-600 transition-all duration-300 ease-in-out">
            Drill ndogo
          </li>
        </ul>
      </div>
      <!--/ Tool -->
      <!-- People -->
      <div class="pb-2">
        <div class="py-2">People</div>
        <ul class="rounded overflow-hidden bg-white dark:bg-gray-800">
          <li class="px-4 py-2 hover:bg-gray-200 dark:hover:bg-slate-700 border-b last:border-none border-gray-200 dark:border-gray-600 transition-all duration-300 ease-in-out">
            Jasper Rup
          </li>
          <li class="px-4 py-2 hover:bg-gray-200 dark:hover:bg-slate-700 border-b last:border-none border-gray-200 dark:border-gray-600 transition-all duration-300 ease-in-out">
            Ezbon Moses
          </li>
        </ul>
      </div>
      <!--/ People -->
      <!-- People -->
      <div class="pb-2">
        <div class="py-2">Deliverables</div>
        <ul class="rounded overflow-hidden bg-white dark:bg-gray-800">
          <li class="px-4 py-2 hover:bg-gray-200 dark:hover:bg-slate-700 border-b last:border-none border-gray-200 dark:border-gray-600 transition-all duration-300 ease-in-out">
            52 Dahua Camera s
          </li>
          <li class="px-4 py-2 hover:bg-gray-200 dark:hover:bg-slate-700 border-b last:border-none border-gray-200 dark:border-gray-600 transition-all duration-300 ease-in-out">
            45 Smart TV
          </li>
        </ul>
      </div>
      <!--/ People -->
    </div>
    <div class="p-4 rounded-lg bg-white dark:bg-gray-800 text-gray-700 dark:text-white hidden" id="report" role="tabpanel" aria-labelledby="report-tab">
      <h1>
        pending reports
      </h1>
    </div>
  </div>
  <!-- Details -->
</div>
<script>
  count = 0;
  function changeSelectResources(selValue) {
    if(selValue.value == 'people') {
      document.getElementById('toggle-resource').innerHTML = `<div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full px-3 my-2 mob:my-0">
          <label>Press trl + click to add people <span class="text-red-500">*</span>
            <select multiple class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="resources[]" required> 
              <option selected="true" disabled="disabled">Choose...</option> 
              <?php foreach($users as $person) { ?>
              <option value="<?=$person['user_id']?>"><?=$person['full_name']?></option>
              <?php } ?>
            </select>
          </label>
        </div>
      </div>`;
    }
    if(selValue.value == 'tools') {
      toolInput = `<div id="`+count+`" class="flex flex-wrap -mx-3 mb-6">
        <div class="w-2/4 px-3 my-1 mob:my-0">
          <label>Tools <span class="text-red-500">*</span>
            <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="resource_name[]" required> 
              <option selected="true" disabled="disabled">Choose...</option> 
              <?php foreach($tools as $tool) { ?>
              <option value="<?=$tool['tool_id']?>"><?=$tool['tool_name']?></option>
              <?php } ?>
            </select>
          </label>
        </div>
        <div class="w-1/4 px-3 my-1 mob:my-0"> 
          <label>How many <span class="text-red-500">*</span>
            <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="number" placeholder="How many" name="resource_quantity[]" required>
          </label>
        </div>
        <div class="w-1/4 px-3 my-1 mob:my-0 flex flex-row">
          <div class="my-auto pt-8">
            <button type="button" onclick="appendToolInput()" class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-3 py-1.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">+
            </button>
            <button type="button" onclick="delInput(`+count+`)" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-3 py-1.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">x
            </button>
          </div>
        </div>
      </div>`;
      document.getElementById('toggle-resource').innerHTML = toolInput;
      count++;
    }
    if(selValue.value == 'deliverables') {
      deliverableInput = `<div id="`+count+`" class="flex flex-wrap -mx-3 mb-6">
        <div class="w-2/4 px-3 my-1 mob:my-0">
          <label>Deliverable <span class="text-red-500">*</span>
            <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="resource_name[]" required> 
              <option selected="true" disabled="disabled">Choose...</option> 
              <?php foreach($deliverables as $deliverable) { ?>
              <option value="<?=$deliverable['product_id']?>"><?=$deliverable['product_name']?></option>
              <?php } ?>
            </select>
          </label>
        </div>
        <div class="w-1/4 px-3 my-1 mob:my-0"> 
          <label>How many <span class="text-red-500">*</span>
            <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="number" placeholder="How many" name="resource_quantity[]" required>
          </label>
        </div>
        <div class="w-1/4 px-3 my-1 mob:my-0 flex flex-row">
          <div class="my-auto pt-8">
            <button type="button" onclick="appendDeliverablesInput()" class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-3 py-1.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">+
            </button>
            <button type="button" onclick="delInput(`+count+`)" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-3 py-1.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">x
            </button>
          </div>
        </div>
      </div>`;
      document.getElementById('toggle-resource').innerHTML = deliverableInput;
      count++;
    }
  }
  function appendToolInput(){
    toolInput = `<div id="`+count+`" class="flex flex-wrap -mx-3 mb-6">
      <div class="w-2/4 px-3 my-1 mob:my-0">
        <label>Tools <span class="text-red-500">*</span>
          <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="resource_name[]" required> 
            <option selected="true" disabled="disabled">Choose...</option> 
            <?php foreach($tools as $tool) { ?>
            <option value="<?=$tool['tool_id']?>"><?=$tool['tool_name']?></option>
            <?php } ?>
          </select>
        </label>
      </div>
      <div class="w-1/4 px-3 my-1 mob:my-0"> 
        <label>How many <span class="text-red-500">*</span>
          <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="number" placeholder="How many" name="resource_quantity[]" required>
        </label>
      </div>
      <div class="w-1/4 px-3 my-1 mob:my-0 flex flex-row">
        <div class="my-auto pt-8">
          <button type="button" onclick="appendToolInput()" class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-3 py-1.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">+
          </button>
          <button type="button" onclick="delInput(`+count+`)" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-3 py-1.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">x
          </button>
        </div>
      </div>
    </div>`;
    appendInput = document.getElementById("toggle-resource");
    appendInput.insertAdjacentHTML('beforeend', toolInput);
    count++;
  }
  function appendDeliverablesInput(){
    deliverableInput = `<div id="`+count+`" class="flex flex-wrap -mx-3 mb-6">
      <div class="w-2/4 px-3 my-1 mob:my-0">
        <label>Deliverable <span class="text-red-500">*</span>
          <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="resource_name[]" required> 
            <option selected="true" disabled="disabled">Choose...</option> 
            <?php foreach($deliverables as $deliverable) { ?>
            <option value="<?=$deliverable['product_id']?>"><?=$deliverable['product_name']?></option>
            <?php } ?>
          </select>
        </label>
      </div>
      <div class="w-1/4 px-3 my-1 mob:my-0"> 
        <label>How many <span class="text-red-500">*</span>
          <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="number" placeholder="How many" name="resource_quantity[]" required>
        </label>
      </div>
      <div class="w-1/4 px-3 my-1 mob:my-0 flex flex-row">
        <div class="my-auto pt-8">
          <button type="button" onclick="appendDeliverablesInput()" class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-3 py-1.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">+
          </button>
          <button type="button" onclick="delInput(`+count+`)" class="text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-sm px-3 py-1.5 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">x
          </button>
        </div>
      </div>
    </div>`;
    appendInput = document.getElementById("toggle-resource");
    appendInput.insertAdjacentHTML('beforeend', deliverableInput);
    count++;
  }
  function delInput(valueId){
    document.getElementById(valueId).remove();
  }

  async function openViewTask(taskId) {
    btnViewTaskModal = document.getElementById('view-task-modal-id');
    btnViewTaskModal.click();
    taskName = document.getElementById('taskName-'+taskId).innerHTML;
    document.getElementById('taskNameOnModal').innerHTML = taskName;
    taskDetails = document.getElementById('task-details');
    taskDetails.innerHTML = 'WAIT A MINUTE...';

    const taskData = new FormData();
    taskData.append('ajax_view_task', taskId);
    let url = '<?=$request_uri?>';
    let obj = {
      method: "POST", 
      body: taskData,
    }

    let response = await fetch(url, obj)
    .then(response => {
      if (!response.ok) {
        throw new Error('The response is not ok!');
      }
      return response.json();
    })
    .then(data => {console.log(data);
      var people = '';
      if(data['people'][0]) {
        data['people'].forEach(function (item, index) {
          data['people'][index].forEach(function (item, index) {
            people += '<div class="pl-3">'+item.name
              +'</div>';
          });
        });
      }
      var tools = '';
      if(data['tools'][0]) {
        data['tools'].forEach(function (item, index) {
          data['tools'][index].forEach(function (item, index) {
            tools += '<div class="pl-3">'+item.name+'</div>';
          });
        });
      }
      var deliverables = '';
      if(data['deliverables'][0]) {
        data['deliverables'].forEach(function (item, index) {
          data['deliverables'][index].forEach(function (item, index) {
            deliverables += '<div class="pl-3">'+item.name+'</div>';
          });
        });
      }
      var money = '';
      if(data['money'][0]) {
        data['money'].forEach(function (item, index) {
          data['money'][index].forEach(function (item, index) {
            money += '';
          });
        });
      }
      subTaskStatus = document.getElementById('sub-act-status-' + taskId);
      taskDetails.innerHTML = `<div>
        <div class="flex flex-col md:flex-row pb-2">
          <div class="font-bold">Assignee: <span class="pl-4"> - </span></div>
          <div class="ml-auto text-right"><span class="uppercase" id="stId-`+taskId+`-hold">`+subTaskStatus.innerHTML+`</span>
              <select id="stId-`+taskId+`" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="sub-activity-status" onchange="changeStatus(this)">
                <option selected="true" disabled="disabled">Change status...</option> 
                <option value="pending">Panding</option>
                <option value="done">Done</option>
                <option value="in_progress">In progress</option>
              </select>
          </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full mob:w-2/3 px-3 my-2 mob:my-0">
            <label>Activity description
              <textarea required name="activity_description" class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block p-1.5 dark:bg-gray-800 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="Add new activity"></textarea>
            </label>
          </div>
        </div>
        <div>
          <div class="font-bold">Resources: </div>
          <div class="pl-4">
            <div class="pb-2">
              <div class="font-semibold">Deliverables: </div>
              <div class="flex flex-wrap">`+deliverables+`</div>
            </div>
            <div class="pb-2">
              <div class="font-semibold">People: </div>
              <div class="flex flex-wrap">`+people+`</div>
            </div>
            <div class="pb-2">
              <div class="font-semibold">Tools: </div>
              <div class="flex flex-wrap">`+tools+`</div>
            </div>
            <div class="flex flex-row">
              <div class="font-semibold">Money: </div>
              <div class="pl-4">??</div>
            </div>
          </div>
        </div>
      </div>`;
    })
    .catch(error => {
      console.error('Problem:', error);
    });
  }
  function changeStatus(values){
    document.getElementById(values.id+'-hold').innerHTML = values.value;
  }

  const add_activity = parent_activity=>{
    let modal = document.getElementById('add-activity-modal');
    let btn = document.querySelector('[data-modal-target=add-activity-modal]');
    btn.click();
    modal.querySelector('form input[name=activity_parent]').value = parent_activity;
  }


</script>
<script src="js/flowbite.min.js"></script>