
    <h2
      class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
    >
    Projects
    </h2>

  <!-- Config project modal -->
  <div id="config-project-modal" tabindex="-1" aria-hidden="true" class="bg-black bg-opacity-50 fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-full max-h-full">
      <div class="relative w-full max-w-4xl max-h-full items-center">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
              <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="config-project-modal">
                <i class="fa-solid fa-xmark fa-2xl w-5 h-2 mt-3"></i>
                  <span class="sr-only">Close modal</span>
              </button>
              <div class="px-3 py-6 lg:px-8 text-gray-900 dark:text-white">
                <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Project settings </h3>
                <form class="space-y-6" method="POST">
                  <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full mob:w-1/3 px-3 my-1 mob:my-0"> 
                      <label>Project manager role
                        <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="project_manager_role" required> 
                          <option selected="true" disabled="disabled">Choose...</option> 
                          <?php foreach($roles as $r) { ?>
                          <option value="<?=$r['role_id']?>"><?=$r['role_name']?></option>
                          <?php } ?>
                        </select>
                      </label>
                    </div>
                  </div>
                  <div class="pb-8">
                    <button type="submit" class="float-right text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">Save</button>
                  </div>
                </form>
              </div>
          </div>
      </div>
  </div>   
  <!--/ Config project modal -->
  <!-- Add project modal -->
  <div id="add-project-modal" tabindex="-1" aria-hidden="true" class="bg-black bg-opacity-50 fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-full max-h-full">
      <div class="relative w-full max-w-4xl max-h-full items-center">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
              <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="add-project-modal">
                <i class="fa-solid fa-xmark fa-2xl w-5 h-2 mt-3"></i>
                  <span class="sr-only">Close modal</span>
              </button>
              <div class="px-3 py-6 lg:px-8 text-gray-900 dark:text-white">
                <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">New project </h3>
                <form class="space-y-6" method="POST">
                  <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full mob:w-1/3 px-3 my-1 mob:my-0">
                      <label>Project name
                        <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="text" placeholder="Project Name" name="project_name" required>
                      </label>
                    </div>
                    <div class="w-full mob:w-1/3 px-3 my-1 mob:my-0"> 
                      <label>Start date
                        <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="date" name="project_starting_date" required>
                      </label>
                    </div>  
                    <div class="w-full mob:w-1/3 px-3 my-1 mob:my-0"> 
                      <label>End date
                        <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="date" name="project_ending_date">
                      </label>
                    </div>
                  </div>
                  <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full mob:w-1/3 px-3 my-1 mob:my-0"> 
                      <label>Budget
                        <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="number" placeholder="Burget" name="project_burget">
                      </label>
                    </div>
                    <div class="w-full mob:w-1/3 px-3 my-1 mob:my-0"> 
                      <label>Project manager
                        <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="project_manager" required> 
                          <option selected="true" disabled="disabled">Choose...</option> 
                          <?php foreach($user as $pm) { ?>
                          <option value="<?=$pm['user_id']?>"><?=$pm['pm_name']?></option>
                          <?php } ?>
                        </select>
                      </label>
                    </div>
                    <div class="w-full mob:w-1/3 px-3 my-1 mob:my-0">
                      <label>Project description
                        <textarea type="text" name="project_description" id="Discription" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="Project Discription" name="project_description"></textarea>
                      </label>
                    </div>
                  </div>
                  <div class="pb-8">
                    <button type="submit" class="float-right text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">Create</button>
                  </div>
                </form>
              </div>
          </div>
      </div>
  </div>   
  <!--/ Add project modal -->
  <br />
  <?php if($status) {?>
    <div x-data="{ open: true }" x-show="open" class="flex items-center p-3 mb-4 text-green-800 rounded-lg bg-green-100 dark:bg-gray-800 dark:text-green-400" role="alert">
      <span>
        <i class="fa-solid fa-circle-info fa-lg"></i>
      </span>
      <div class="ml-3 text-sm font-medium">
        <?=$msg?>
      </div> 
      <button type="button" @click="open = false" class="ml-auto -mx-1.5 px-1 bg-green-100 text-green-500 rounded-lg foinv:ring-2 foinv:ring-green-400 hover:bg-green-200 inline-flex  dark:bg-gray-800 dark:text-green-400 dark:hover:bg-gray-700">
        <span class="font-bold px-1"><i class="fa-solid fa-xmark fa-xl"></i></span>
      </button>
    </div>
  <?php } else if($msg) {?>
  <div x-data="{ open: true }" x-show="open" class="flex items-center p-3 mb-4 text-yellow-800 rounded-lg bg-yellow-50 dark:bg-yellow-700 dark:bg-opacity-20 dark:text-yellow-400" role="alert">
    <span>
      <i class="fa-solid fa-circle-exclamation fa-lg"></i>
    </span>
    <div class="ml-3 text-sm font-medium">
      <?=$msg?>
    </div> 
    <button type="button" @click="open = false" class="ml-auto -mx-1.5 px-1 bg-yellow-50 text-yellow-500 rounded-lg focus:ring-2 focus:ring-yellow-400 hover:bg-yellow-200 inline-flex  dark:bg-gray-800 dark:text-yellow-400 dark:hover:bg-gray-700">
      <span class="font-bold px-1"><i class="fa-solid fa-xmark fa-xl"></i></span>
    </button>
  </div>
  <?php } ?>

  <div class="divide-y divide-gray-200 dark:divide-gray-700 bg-white dark:bg-gray-800 p-4 rounded">
    <div class="space-y-2 pt-2 pb-2 md:space-y-5">
      
      <div class="text-lg leading-7 text-gray-700 dark:text-gray-300">
        <div class="flex items-center">
          <p class="w-full text-grey-darkest">List of all projects</p>
          <button
          data-modal-target="config-project-modal" data-modal-toggle="config-project-modal" 
          class="text-xl py-1 px-2 text-purple-700 bg-white hover:bg-purple-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium border-2 border-purple-700 rounded-lg text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800" type="button">
          <i class="fa fa-cog"></i>
          </button>
          <button
          data-modal-target="add-project-modal" data-modal-toggle="add-project-modal" 
          class="text-2xl px-2 pb-1 mx-2 text-purple-700 bg-white hover:bg-purple-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium border-2 border-purple-700 rounded-lg text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800" type="button">
          +
          </button>
        </div>
      </div>

    </div>
    <div class="divide-y divide-gray-200 dark:divide-gray-700">
      <div class="py-4">
        <div class="pb-4">
          <div class="space-y-2 divide-y dark:divide-gray-700">
            <?php foreach($project as $pro){?>
            <!--/ Project -->
            <div class="p-2 text-gray-700 dark:text-gray-300">
              <div class="flex mob:flex-row flex-col">
                <div class="w-full mob:w-3/4">
                  <h2 class="text-xl font-bold tracking-tight">
                    <a class="text-blue-500 hover:underline" href="<?=$myhome?>/Projects/<?=$pro['project_id']?>">
                      <?=$pro['project_name']?>
                    </a>
                  </h2>
                  <div class="flex flex-row">
                    <div class="pl-3 pt-2"> Budget: </div>
                    <div class="font-semibold uppercase pl-3 pt-2"> <?=$currency?> <?=number_format($pro['project_burget'],2)?></div>
                  </div>
                  <div class="flex pl-3">
                    <div class="hidden mob:block">Project manager:</div>
                    <div class="mob:hidden">P.Manager:</div>
                    <div class="font-semibold pl-2"><?=$pro['pm_name']?></div>
                  </div>
                </div>
                <div class="w-full mob:w-1/4 pl-3">
                  <div class="flex gap-x-2">
                    <div class="flex flex-row mob:flex-col text-center">
                      <div class="">Since: </div>
                      <div class="text-base font-medium leading-6 text-gray-500 dark:text-gray-400 pl-2">
                        <time datetime="2021-08-07T15:32:14.000Z"><?=helper::format_time($pro['project_starting_date'],'d M, Y')?></time>
                      </div>
                    </div>
                    <div class="flex flex-row mob:flex-col text-center">
                      <div class="">To: </div>
                      <div class="text-base font-medium leading-6 text-gray-500 dark:text-gray-400 pl-2">
                        <time datetime="2021-08-07T15:32:14.000Z"><?=helper::format_time($pro['project_ending_date'],'d M, Y')?></time>
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-row mob:justify-center mob:pt-2">
                    <div class="">Duration: </div>
                    <div class="text-base font-medium leading-6 text-gray-500 dark:text-gray-400 pl-2">
                      <time datetime="2021-08-07T15:32:14.000Z">
                        <?=round((strtotime($pro['project_ending_date']) - strtotime($pro['project_starting_date']))/(60*60*24))?>
                      </time>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--/ Project -->
            <?php }?>
          </div>
        </div>
      </div>
    </div>
  </div>
    
  </div>
    
<script src="js/flowbite.min.js"></script>
