<h2 class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
  Sales reports
</h2>
      <div class="grid gap-6 mb-8 md:grid-cols-2">
        <div  class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800" >
              <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300"> Common Customers</h4>
                <!-- Item List -->
               <div class="dark:text-gray-300">
                <?php foreach($customers as $cus){ ?>
                <div class="flex items-center">
                  <span
                    class="inline-block w-3 h-3 mr-1 bg-blue-500 rounded-full dark:bg-gray-800"
                  ></span>
                  <span><?=$cus['customer_name']?> (<?=$cus['frequence']?> time<?=$cus['frequence'] != 1 ? 's' : ''?>)</span>
                </div>
                <?php } ?>
              </div>
        
        </div>

            <div
                class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800" >
                <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
                  General Sales
                </h4>
                <canvas id="bars"></canvas>

            </div>
            <div class="min-w-0 p-4 bg-white rounded-lg shadow-xs dark:bg-gray-800">
              <h4 class="mb-4 font-semibold text-gray-800 dark:text-gray-300">
                Top selling products
              </h4>
              <canvas id="pie"></canvas>
              <div
                class="flex justify-center mt-4 space-x-3 text-sm text-gray-600 dark:text-gray-400"
              >
                <!-- Chart legend -->
                <div class="flex items-center">
                  <span
                    class="inline-block w-3 h-3 mr-1 bg-blue-500 rounded-full"
                  ></span>
                  <span>Cameras</span>
                </div>
                <div class="flex items-center">
                  <span
                    class="inline-block w-3 h-3 mr-1 bg-teal-600 rounded-full"
                  ></span>
                  <span>Access points</span>
                </div>
                <div class="flex items-center">
                  <span
                    class="inline-block w-3 h-3 mr-1 bg-purple-600 rounded-full"
                  ></span>
                  <span>Switches</span>
                </div>
              </div>
            </div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<!-- <script src="js/charts-lines.js" defer></script> -->
<script src="js/charts-pie.js" defer></script>
<script src="js/charts-bars.js" defer></script>