
    <h2
      class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
    >
    Project resources
    </h2>
    <table id="staffTable" class="w-full">
      <thead>
        <tr 
          class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
        >
      <?php foreach(array_keys($resources[0]) as $th){?>
        <th class="px-4 py-3"><?=$th?></th>
      <?php }?>
      </tr>
      </thead>
      <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
      <?php foreach($resources as $tr){?>
        <tr class="text-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700">
          <?php foreach($tr as $td){?>
            <td class="px-4 py-3"><?=$td?></td>
          <?php }?>
        </tr>
      <?php }?>
      </tbody>
    </table>