<div class="white content" style="border-radius: 6px;box-shadow: 0 0 5px #999;">
    <div class="flex">
        <h3 class="border-bottom-white" style="padding-bottom: 1em;">System permission for roles</h3>
        <button class="shrink green">Asign permission</button>&nbsp;
        <button class="shrink">Add Role</button>
    </div>
    <ul class="tabbed">
    <?php $legends = array_keys($roles);
    foreach($legends as $role){ ?>
        <li>
            <label for="<?=md5($role)?>" style="padding: 0 1em;"><?=$role?></label>
            <input type="checkbox" id="<?=md5($role)?>">
            <ul>
                <?php foreach($roles[$role] as $legend=>$permission){?>
                    <li>
                        <div><strong><?=$legend?></strong></div>
                        <?php foreach($permission as $v){?>
                            <div><span data-icon="&#xf058;"><?=$v['permission_name']?></span></div>
                        <?php }?>
                        <hr>
                    </li>
                <?php }?>
            </ul>
        </li>
    <?php }?>
    </ul>
    
</div>
<style>
    .tabbed hr{
        border: 1px solid #eee;
    }
    .tabbed strong{
        font-weight: bold;
        font-size: 103%;
        padding-bottom: .4em;
    }
    .tabbed{
        display: flex;
        flex-wrap: wrap;
    }
    .tabbed li{
        padding: .4em;
    }
    .tabbed li > input,.tabbed li > label{
        display: inline-block;
    }
    .tabbed li ul{
        font-size: 90%;
        padding: 1em;
        border-top: 1px solid #ddd;
    }
</style>