
  <h2
    class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
  >
    Staff management
  </h2>
  <!-- Modal toggle -->
  <div>
    <button 
    data-modal-target="add-staff-modal" data-modal-toggle="add-staff-modal" 
    class="float-right mr-2 text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800" type="button">
    Add staff
    </button>
    <button 
      data-modal-target="add-designation-modal" data-modal-toggle="add-designation-modal" 
      class="float-right mr-2 text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800" type="button">
      Add designation
    </button>
  </div>
  <!--/ Modal toggle -->
  <!-- Add designation modal -->
  <div id="add-designation-modal" tabindex="-1" aria-hidden="true" class="bg-black bg-opacity-50 fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-full">
    <div class="relative w-full max-w-lg max-h-full items-center">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="add-designation-modal">
              <i class="fa-solid fa-xmark fa-2xl w-5 h-2 mt-3"></i>
              <span class="sr-only">Close modal</span>
            </button>
            <div class="px-6 py-6 lg:px-8 text-gray-900 dark:text-white">
              <h3 class="mb-4 text-xl font-medium">Add designation </h3>
              <form class="space-y-6" method="POST">
                <div class="flex flex-wrap -mx-3 mb-6">
                  <div class="w-1/2 px-3">
                    <label>Designation name 
                      <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="text" placeholder="Designation" name="designation_name" required>
                    </label>
                  </div>
                  <div class="w-1/2 px-3">
                    <label>Designation details 
                      <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="text" placeholder="Details" name="designation_details" required>
                    </label>
                  </div>
                </div>
                <div class="pb-8">
                  <button type="submit" class="float-right text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">Add</button>
                </div>
              </form>
              <div>
                <?php foreach($designation as $x) { ?>
                  <div id="des-<?=$x['designation_id']?>">
                    <?php print("{$x['designation_name']}")?>
                  </div>
                <?php } ?>
              </div>
            </div>
        </div>
    </div>
  </div> 
  <!--/ Add designation modal -->
  <!-- Add staff modal -->
  <div id="add-staff-modal" tabindex="-1" aria-hidden="true" class="bg-black bg-opacity-50  fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-full max-h-full">
    <div class="relative w-full max-w-4xl max-h-full items-center">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="add-staff-modal">
          <i class="fa-solid fa-xmark fa-2xl w-5 h-2 mt-3"></i>
          <span class="sr-only">Close modal</span>
        </button>
        <div class="px-6 py-6 lg:px-8 text-gray-900 dark:text-white">
          <h3 class="mb-4 text-xl font-medium">Add staff </h3>
          <form class="space-y-6" method="POST">
            <div class="flex flex-wrap -mx-3 mb-6">
              <div class="w-full mob:w-1/3 px-3 my-1 mob:my-0">
                <label>First name
                  <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="text" placeholder="First name" name="first_name" required>
                </label>
              </div>
              <div class="w-full mob:w-1/3 px-3 my-1 mob:my-0"> 
                <label>Middle name
                  <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="text" placeholder="Middle name" name="middle_name">
                </label>
              </div>
              <div class="w-full mob:w-1/3 px-3 my-1 mob:my-0"> 
                <label>Last name
                  <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="text" placeholder="Last name" name="last_name" required>
                </label>
              </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-6">
              <div class="w-full mob:w-1/2 px-3 my-1 mob:my-0">
                <label>Email address
                  <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="Email address" name="email" required>
                </label>
              </div>
              <div class="w-full mob:w-1/2 px-3 my-1 mob:my-0">
                <label>Phone number
                  <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white invalid:border-red-500" type="tel" maxlength="10" placeholder="Phone: 0*********" pattern="[0]{1}[6-7]{1}[1-9]{1}[0-9]{7}" name="phone_number">
                </label>
              </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-6">
              <div class="w-full mob:w-1/3 px-3 my-1 mob:my-0"> 
                <label>Designation
                  <select id="designation" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="designation">
                  <?php foreach($designation as $x) { ?>
                    <option value="<?=$x['designation_id']?>"><?=$x['designation_name']?></option>
                  <?php } ?>
                </select>
              </label>
              </div>
              <div class="w-full mob:w-1/3 px-3 my-1 mob:my-0"> 
                <label>Registration number
                  <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="text" placeholder="Registration number" name="registration_number" required>
                </label>
              </div>
              <div class="w-full mob:w-1/3 px-3 my-1 mob:my-0"> 
                <label>Residence address
                  <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="text" placeholder="Residence address" name="residence_address">
                </label>
              </div>
            </div>
            <div class="flex flex-wrap -mx-3 mb-6">
              <div class="w-full mob:w-1/2 px-3"> 
                <label>Date employed
                  <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="date" max="<?= date('Y-m-d'); ?>" name="date_employed">
                </label>
              </div>
            </div>
            <div class="pb-8">
              <button type="submit" class="float-right text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">Create</button>
            </div>
          </form>
        </div>
      </div>
      <!--/ Modal content -->
    </div>
  </div> 
  <!--/ Add staff modal -->
  <br />
  <?php if($msg) {?>
    <div x-data="{ open: true }" x-show="open" class="flex p-3 mb-4 text-green-800 rounded-lg bg-green-100 dark:bg-gray-800 dark:text-green-400" role="alert">
      <span>
        <i class="fa-solid fa-circle-info fa-lg"></i>
      </span>
      <div class="ml-3 text-sm font-medium">
        <?=$msg?>
      </div> 
      <button type="button" @click="open = false" class="ml-auto -mx-1.5 px-1 bg-green-100 text-green-500 rounded-lg focus:ring-2 focus:ring-green-400 hover:bg-green-200 inline-flex  dark:bg-gray-800 dark:text-green-400 dark:hover:bg-gray-700">
        <span class="font-bold px-1"><i class="fa-solid fa-xmark fa-xl"></i></span>
      </button>
    </div>
  <?php } ?>
  <div id="message"></div>

  <div class="w-full overflow-hidden rounded-lg shadow-md">
    <div class="w-full overflow-x-auto">
      <table id="staffTable" class="w-full">
        <thead>
          <tr 
            class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
          >
            <th class="px-4 py-3">Name</th>
            <th class="px-4 py-3">Phone number</th>
            <th class="px-4 py-3">Email</th>
            <th class="px-4 py-3">Address</th>
            <th class="px-4 py-3">Date registered</th>
            <th class="px-4 py-3">Status</th>
            <th class="px-4 py-3">Actions</th>
          </tr>
        </thead>
        <tbody
          class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
        >
        <?php foreach($staff as $x) { ?>
          <tr id="tr-<?=$x['staff_id']?>" class="text-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700">
            <td class="px-4 py-3">
              <div class="flex items-center text-sm">
                <!-- Avatar with inset shadow -->
                <div
                  class="relative hidden w-8 h-8 mr-3 rounded-full md:block"
                >
                  <img
                    class="object-cover w-full h-full rounded-full"
                    src="img/no-profile.jpg"
                    alt=""
                    loading="lazy"
                  />
                  <div
                    class="absolute inset-0 rounded-full shadow-inner"
                    aria-hidden="true"
                  ></div>
                </div>
                <div>
                  <p class="font-semibold"><?=$x['first_name'] . " " . $x['middle_name'] . " " . $x['last_name']?></p>
                  <p class="text-xs text-gray-600 dark:text-gray-400">
                    <?php foreach($designation as $y) { ?>
                      <?php $y['designation_id'] == $x['designation'] ? print($y['designation_name']) : print(""); ?>
                    <?php } ?>
                  </p>
                </div>
              </div>
            </td>
            <td class="px-4 py-3 text-sm">
              +<?=$x['phone_number']?>
            </td>
            <td class="px-4 py-3 text-sm">
              <?=$x['email']?>
            </td>
            <td class="px-4 py-3 text-sm">
              <?=$x['residence_address']?>
            </td>
            <td class="px-4 py-3 text-sm">
              <?=$x['created_time']?>
            </td>
            <td class="px-4 py-3 text-xs">
              <label class="relative inline-flex items-center cursor-pointer">
                <input id="checkbox-<?=$x['staff_id']?>" type="checkbox" onclick="activateStaff(this)" class="sr-only peer" <?php if($x['status']=='active') {echo "checked";} ?> >
                <div class="w-9 h-5 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-purple-300 dark:peer-focus:ring-purple-800 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-600 peer-checked:bg-purple-600"></div>
              </label>  
            </td>
            <td class="px-4 py-3">
              <div class="flex items-center space-x-4 text-sm">
                <button data-modal-target="edit-staff-modal-<?=$x['staff_id']?>" data-modal-toggle="edit-staff-modal-<?=$x['staff_id']?>" 
                  class="flex items-center justify-between p-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:outline-gray-300"
                  aria-label="Edit"
                >
                <i class="fa-solid fa-pen-to-square fa-lg"></i>
                </button>
                <button id="del-<?=$x['staff_id']?>" onclick="delStaff(this)"
                  class="deleteStaff flex items-center justify-between p-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:outline-gray-300"
                  aria-label="Delete"
                >
                <i class="fa-sharp fa-solid fa-trash fa-lg"></i>
                </button>
              </div>
            </td>
          </tr>
          <!-- Edit staff modal -->
          <div id="edit-staff-modal-<?=$x['staff_id']?>" tabindex="-1" aria-hidden="true" class="bg-black bg-opacity-50  fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-full max-h-full">
            <div class="relative w-full max-w-4xl max-h-full items-center">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="edit-staff-modal-<?=$x['staff_id']?>">
                      <i class="fa-solid fa-xmark fa-2xl w-5 h-2 mt-3"></i>
                      <span class="sr-only">Close modal</span>
                    </button>
                    <div class="px-6 py-6 lg:px-8 text-gray-900 dark:text-white">
                      <h3 class="mb-4 text-xl font-medium">Edit staff </h3>
                      <form class="space-y-6" method="POST">
                        <div class="flex flex-wrap -mx-3 mb-6">
                          <div class="w-full mob:w-1/3 px-3 my-1 mob:my-0">
                            <label> First name
                              <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="text" placeholder="First name" value="<?=$x['first_name']?>" name="first_name" required>
                            </label>
                          </div>
                          <div class="w-full mob:w-1/3 px-3 my-1 mob:my-0"> 
                            <label> Middle name
                              <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="text" placeholder="Middle name" value="<?=$x['middle_name']?>" name="middle_name">
                            </label>
                          </div>
                          <div class="w-full mob:w-1/3 px-3 my-1 mob:my-0"> 
                            <label> Last name
                              <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="text" placeholder="Last name" value="<?=$x['last_name']?>" name="last_name" required>
                            </label>
                          </div>
                        </div>
                        <div class="flex flex-wrap -mx-3 mb-6">
                          <div class="w-full mob:w-1/2 px-3 my-1 mob:my-0">
                            <label> Email address
                              <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="Email address" value="<?=$x['email']?>" name="email" required>
                            </label>
                          </div>
                          <div class="w-full mob:w-1/2 px-3 my-1 mob:my-0">
                            <label> Phone number
                              <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white invalid:border-red-500" type="tel" maxlength="10" placeholder="Phone: 0*********" value="<?=$x['phone_number']?>" name="phone_number">
                            </label>
                          </div>
                        </div>
                        <div class="flex flex-wrap -mx-3 mb-6">
                          <div class="w-full mob:w-1/3 px-3 my-1 mob:my-0"> 
                            <label> Designation
                              <select id="designation" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="designation">
                                <?php foreach($designation as $d) { ?>
                                  <option value="<?=$d['designation_id']?>"><?=$d['designation_name']?></option>
                                <?php } ?>
                              </select>
                            </label>
                          </div>
                          <div class="w-full mob:w-1/3 px-3 my-1 mob:my-0"> 
                            <label> Registration number
                              <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="text" value="<?=$x['registration_number']?>" name="registration_number" required>
                            </label>
                          </div>
                          <div class="w-full mob:w-1/3 px-3 my-1 mob:my-0"> 
                            <label> Residence address
                            <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="text" value="<?=$x['residence_address']?>" name="residence_address">
                            </label>
                          </div>
                        </div>
                        <div class="flex flex-wrap -mx-3 mb-6">
                          <div class="w-full mob:w-1/2 px-3"> 
                            <label> Date
                              <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" 
                              type="date" max="<?= date('Y-m-d'); ?>" value="<?=helper::format_time($x['created_time'], 'Y-m-d')?>" name="date_employed">
                            </label>
                          </div>
                        </div>
                        <div class="pb-8">
                          <button type="submit" class="float-right text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">Submit</button>
                        </div>
                      </form>
                    </div>
                </div>
            </div>
        </div> 
        <!--/ Edit staff modal -->
        <?php } ?>
          
        </tbody>
      </table>
    </div>
    
  </div>
    
<script src="js/flowbite.min.js"></script>
<script>

  async function delStaff(values) {
    if (!confirm("Sure you want to delete staff?")) {
      return false;
    }
    
    delStaffBtn = document.getElementById(values.id);
    delStaffBtn.disabled = true;
    delStaffBtn.innerHTML = '<i class="fa-solid fa-spinner fa-spin fa-lg"></i>'

    var staffId = values.id.split('-');
    const staffData = new FormData();
    staffData.append('ajax_del_staff', staffId[1]);
    //for (let obj of staffData) {
      //console.log(obj);
    //}
    //var name = staffData.get('ajax_del_staff');
    //console.log(name);

    let url = '<?=$request_uri?>';
    let obj = {
      method: "POST", 
      body: staffData,
    }

    let response = await fetch(url, obj)
    .then(response => {
      if (!response.ok) {
        throw new Error('The response side is not ok!');
      }
      return response.json();
    })
    .then(data => {
      if(data.status == 'success'){
        document.getElementById("message").innerHTML = `<div x-data="{ open: true }" x-show="open" class="flex p-3 mb-4 text-green-800 rounded-lg bg-green-100 dark:bg-gray-800 dark:text-green-400" role="alert">
          <span>
            <i class="fa-solid fa-circle-info fa-lg"></i>
          </span>
          <div class="ml-3 text-sm font-medium">
            `+data.msg+` for staff `+data.staff.first_name+` `+data.staff.middle_name+` `+data.staff.last_name
            +`.
          </div> 
          <button type="button" @click="open = false" class="ml-auto -mx-1.5 px-1 bg-green-100 text-green-500 rounded-lg focus:ring-2 focus:ring-green-400 hover:bg-green-200 inline-flex  dark:bg-gray-800 dark:text-green-400 dark:hover:bg-gray-700">
            <span class="font-bold px-1"><i class="fa-solid fa-xmark fa-xl"></i></span>
          </button>
        </div>`;
        document.getElementById('tr-'+staffId[1]).remove();
      }
      if(data.status == 'fail'){
        document.getElementById("message").innerHTML = `<div x-data="{ open: true }" x-show="open" class="flex p-3 mb-4 text-yellow-800 rounded-lg bg-yellow-50 dark:bg-yellow-700 dark:bg-opacity-20 dark:text-yellow-400" role="alert">
          <span>
            <i class="fa-solid fa-circle-exclamation fa-lg"></i>
          </span>
          <div class="ml-3 text-sm font-medium">
            `+data.msg+` for staff `+data.staff.first_name+` `+data.staff.middle_name+` `+data.staff.last_name
            +`.
          </div> 
          <button type="button" @click="open = false" class="ml-auto -mx-1.5 px-1 bg-yellow-50 text-yellow-500 rounded-lg focus:ring-2 focus:ring-yellow-400 hover:bg-yellow-200 inline-flex  dark:bg-gray-800 dark:text-yellow-400 dark:hover:bg-gray-700">
            <span class="font-bold px-1"><i class="fa-solid fa-xmark fa-xl"></i></span>
          </button>
        </div>`;
        delStaffBtn.disabled = false;
        delStaffBtn.innerHTML = '<i class="fa-sharp fa-solid fa-trash fa-lg"></i>';
      }
      if(data.status == 'not-exist' || data.status == 'denied'){
        document.getElementById("message").innerHTML = `<div x-data="{ open: true }" x-show="open" class="flex p-3 mb-4 text-yellow-800 rounded-lg bg-yellow-50 dark:bg-yellow-700 dark:bg-opacity-20 dark:text-yellow-400" role="alert">
          <span>
            <i class="fa-solid fa-circle-exclamation fa-lg"></i>
          </span>
          <div class="ml-3 text-sm font-medium">
            `+data.msg+`.
          </div> 
          <button type="button" @click="open = false" class="ml-auto -mx-1.5 px-1 bg-yellow-50 text-yellow-500 rounded-lg focus:ring-2 focus:ring-yellow-400 hover:bg-yellow-200 inline-flex  dark:bg-gray-800 dark:text-yellow-400 dark:hover:bg-gray-700">
            <span class="font-bold px-1"><i class="fa-solid fa-xmark fa-xl"></i></span>
          </button>
        </div>`;
      }
    })
    .catch(error => {
      document.getElementById("message").innerHTML = `<div x-data="{ open: true }" x-show="open" class="flex p-3 mb-4 text-red-800 rounded-lg bg-red-50 dark:bg-red-700 dark:bg-opacity-20 dark:text-red-400" role="alert">
        <span>
          <i class="fa-solid fa-circle-exclamation fa-lg"></i>
        </span>
        <div class="ml-3 text-sm font-medium">
          An error occured! Please try again later.
        </div> 
        <button type="button" @click="open = false" class="ml-auto -mx-1.5 px-1 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 hover:bg-red-200 inline-flex  dark:bg-gray-800 dark:text-red-400 dark:hover:bg-gray-700">
          <span class="font-bold px-1"><i class="fa-solid fa-xmark fa-xl"></i></span>
        </button>
      </div>`;
      console.error('Problem:', error);
      delStaffBtn.disabled = false;
      delStaffBtn.innerHTML = '<i class="fa-sharp fa-solid fa-trash fa-lg"></i>';
    });
  }


  async function activateStaff(values) {
    if (values.checked) {
      var status = 'active';
    };
    if (!values.checked) {
      var status = 'inactive';
    };

    var staffId = values.id.split('-');
    const staffData = new FormData();
    staffData.append('ajax_activate_staff', staffId[1]);
    staffData.append('status', status);

    let url = '<?=$request_uri?>';
    let obj = {
      method: "POST", 
      body: staffData,
    }

    let response = await fetch(url, obj)
    .then(response => {
      if (!response.ok) {
        throw new Error('The response side is not ok!');
      }
      return response.json();
    })
    .then(data => {
      //document.getElementById("message").innerHTML = successMessage;
    })
    .catch(error => {
      document.getElementById("message").innerHTML = `<div x-data="{ open: true }" x-show="open" class="flex p-3 mb-4 text-red-800 rounded-lg bg-red-50 dark:bg-red-700 dark:bg-opacity-20 dark:text-red-400" role="alert">
        <span>
          <i class="fa-solid fa-circle-exclamation fa-lg"></i>
        </span>
        <div class="ml-3 text-sm font-medium">
          An error occured! Please try again later.
        </div> 
        <button type="button" @click="open = false" class="ml-auto -mx-1.5 px-1 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 hover:bg-red-200 inline-flex  dark:bg-gray-800 dark:text-red-400 dark:hover:bg-gray-700">
          <span class="font-bold px-1"><i class="fa-solid fa-xmark fa-xl"></i></span>
        </button>
      </div>`;
      console.error('Problem:', error);
    });
  }
</script>


