<link rel="stylesheet" href="plugins/intlTelInput/css/intlTelInput.min.css" />
<h2
  class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
>
  Staff management
</h2>
<!-- Modal toggle -->
<div class="text-right">
  <button data-modal-target="add-staff-modal" data-modal-toggle="add-staff-modal" 
  class="mr-2 text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800" type="button">
  Add staff
  </button>
  <button id="add-designation-modal-id" data-modal-target="add-designation-modal" data-modal-toggle="add-designation-modal" 
    class="hidden mr-2 text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800" type="button">
    Add designation
  </button>
  <button id="add-role-modal-id" data-modal-target="add-role-modal" data-modal-toggle="add-role-modal" 
  class="hidden text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800" type="button">
  Add new role
  </button>
  <button id="add-bank-modal-id"
  data-modal-target="add-bank-modal" data-modal-toggle="add-bank-modal" 
  class="hidden text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800" type="button">
  Add Bank
  </button>
  <button id="add-dep-modal-id"
  data-modal-target="add-department-modal" data-modal-toggle="add-department-modal" 
  class="hidden text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800" type="button">
  Add Department
  </button>
</div>
<!--/ Modal toggle -->
<!-- Add department modal -->
<div id="add-department-modal" tabindex="-1" aria-hidden="true" class="bg-black bg-opacity-50 fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-full">
  <div class="relative w-full max-w-lg max-h-full items-center">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="add-department-modal">
            <i class="fa-solid fa-xmark fa-2xl w-5 h-2 mt-3"></i>
            <span class="sr-only">Close modal</span>
          </button>
          <div class="px-6 py-6 lg:px-8 text-gray-900 dark:text-white">
            <h3 class="mb-4 text-xl font-medium">Add department </h3>
            <form class="space-y-6" method="POST">
              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3">
                  <label>Department name <span class="text-red-500">*</span>
                    <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="text" placeholder="Department" name="department_name" required>
                  </label>
                </div>
              </div>
              <div class="pb-8">
                <button type="submit" class="float-right text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">Add</button>
              </div>
            </form>
          </div>
      </div>
  </div>
</div> 
<!--/ Add department modal -->
<!-- Add bank modal -->
<div id="add-bank-modal" tabindex="-1" aria-hidden="true" class="bg-black bg-opacity-50 fixed top-0 left-0 right-0 z-50 hidden w-full h-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 f-full max-h-full">
  <div class="relative w-full max-w-lg max-h-full items-center">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="add-bank-modal">
            <i class="fa-solid fa-xmark fa-2xl w-5 h-2 mt-3"></i>
              <span class="sr-only">Close modal</span>
          </button>
          <div class="px-6 py-6 lg:px-8">
            <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Add Bank </h3>
            <form class="space-y-6" action="" method="POST">
              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3 my-2 mob:my-0">
                  <label for="bank_name">Bank Names </label>
                  <input id="bank_name" class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="text" name="bank_name" placeholder="bank names">
                </div>
              </div>
              <div class="w-full px-3 my-2 mob:my-0">
                <label>Bank Logo 
                  <input class="block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100" type="file" name="bank_logo">
                </label>
              </div>
              <div class="pb-8">
                <button type="submit" class="float-right text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">Create</button>
              </div>
            </form>
          </div>
      </div>
  </div>
</div> 
<!--/ Add bank modal -->
<!-- Add role modal -->
<div id="add-role-modal" tabindex="-1" aria-hidden="true" class="bg-black bg-opacity-50 fixed top-0 left-0 right-0 z-50 hidden w-full h-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 f-full max-h-full">
  <div class="relative w-full max-w-lg max-h-full items-center">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-800">
          <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-700 dark:hover:text-white" data-modal-hide="add-role-modal">
            <i class="fa-solid fa-xmark fa-2xl w-5 h-2 mt-3"></i>
              <span class="sr-only">Close modal</span>
          </button>
          <div class="px-6 py-6 lg:px-8 text-gray-900 dark:text-white">
            <h3 class="mb-4 text-xl font-medium text-center uppercase">Add new role </h3>
            <form class="space-y-6" action="" method="POST">
              <div class="w-full sm:w-4/5 px-3 my-2 mx-auto">
                <label>Role name 
                  <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" name="role_name" type="text" placeholder="Role name" required>
                </label>
              </div>
              <!-- / Table -->
              <div class="pb-8 text-right gap-x-4">
                <button  class="mx-2 text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">Submit</button>
              </div>
            </form>
          </div>
      </div>
  </div>
</div> 
<!--/ Add role modal -->
<!-- Add designation modal -->
<div id="add-designation-modal" tabindex="-1" aria-hidden="true" class="bg-black bg-opacity-50 fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-full">
  <div class="relative w-full max-w-lg max-h-full items-center">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="add-designation-modal">
            <i class="fa-solid fa-xmark fa-2xl w-5 h-2 mt-3"></i>
            <span class="sr-only">Close modal</span>
          </button>
          <div class="px-6 py-6 lg:px-8 text-gray-900 dark:text-white">
            <h3 class="mb-4 text-xl font-medium">Add designation </h3>
            <form class="space-y-6" method="POST">
              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-1/2 px-3">
                  <label>Designation name <span class="text-red-500">*</span>
                    <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="text" placeholder="Designation" name="designation_name" required>
                  </label>
                </div>
                <div class="w-1/2 px-3">
                  <label>Designation details 
                    <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="text" placeholder="Details" name="designation_details">
                  </label>
                </div>
              </div>
              <div class="pb-8">
                <button type="submit" class="float-right text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">Add</button>
              </div>
            </form>
            <div class="grid grid-cols-2 gap-4">
              <?php $count = 1; foreach($designation as $des){?>
                <div class="flex flex-row hover:text-purple-600"><?=$count?>. &nbsp;
                  <div class="w-1/2">
                    <?=$des['designation_name']?>
                  </div>
                  <!--<div class="ml-3 mr-8 hover:text-red-500">
                    <a href="<?=$des['designation_id']?>"><i class="fa fa-times"></i></a>
                  </div>-->
                </div>
              <?php $count++; }?>
            </div>
          </div>
      </div>
  </div>
</div> 
<!--/ Add designation modal -->
<!-- Add staff modal -->
<div id="add-staff-modal" tabindex="-1" aria-hidden="true" class="bg-black bg-opacity-50  fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-full max-h-full">
  <div class="relative w-full max-w-4xl max-h-full items-center">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="add-staff-modal" id="close-staff-modal-id">
        <i class="fa-solid fa-xmark fa-2xl w-5 h-2 mt-3"></i>
        <span class="sr-only">Close modal</span>
      </button>
      <div class="px-6 py-6 lg:px-8 text-gray-900 dark:text-white">
        <h3 class="mb-4 text-xl font-medium">Add staff </h3>
        <form class="space-y-6" method="POST" enctype="multipart/form-data">
          <div class="divide-y">
            <div>
              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full mob:w-1/3 px-3 my-1 mob:my-0">
                  <label>Full name <span class="text-red-500">*</span>
                    <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="text" placeholder="Staff's full name" name="full_name"  pattern="([a-zA-Z]+\s){1,2}([a-zA-Z]+)" required>
                  </label>
                </div>
                <div class="w-full mob:w-1/3 px-3 my-1 mob:my-0">
                  <label>Email address <span class="text-red-500">*</span>
                    <input type="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="Email address" name="email" required>
                  </label>
                </div>
                <div class="w-full mob:w-1/3 px-3 my-1 mob:my-0">
                  <label class="flex flex-col"><div>Phone number <span class="text-red-500">*</span></div>
                    <input id="phone" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="tel" name="phone_number" required>
                  </label>
                </div>
              </div>
              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full mob:w-1/3 px-3 my-1 mob:my-0"> 
                  <label>Registration number <span class="text-red-500">*</span>
                    <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="text" placeholder="Registration number" name="registration_number" required>
                  </label>
                </div>
                <div class="w-full mob:w-1/3 px-3 my-1 mob:my-0"> 
                  <label>Designation <span class="text-red-500">*</span>
                    <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="designation" onchange="openDesModal(this)" required>
                      <option selected="true" disabled="disabled">Choose...</option>   
                      <?php foreach($designation as $x) { ?>
                        <option value="<?=$x['designation_id']?>"><?=$x['designation_name']?></option>
                      <?php } ?>
                      <option value="">Add designation</option>
                    </select>
                  </label>
                </div>
                <div class="w-full mob:w-1/3 px-3 my-1 mob:my-0"> 
                  <label>Role <span class="text-red-500">*</span>
                    <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="designation" onchange="openRoleModal(this)" required>
                      <option selected="true" disabled="disabled">Choose...</option> 
                      <?php foreach($roles as $r) { ?>
                      <option value="<?=$r['role_id']?>"><?=$r['role_name']?></option>
                      <?php } ?>
                      <option value="">Add new role</option>
                    </select>
                  </label>
                </div>
              </div>
              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full mob:w-1/3 px-3 my-1 mob:my-0"> 
                  <label>Residence address 
                    <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="text" placeholder="Residence address" name="residence_address">
                  </label>
                </div>
                <div class="w-full mob:w-1/3 px-3 my-1 mob:my-0"> 
                  <label>Work location
                    <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="work_location">
                      <option value="Head quater Banny">Head quater Banny </option>
                      <option value="Compulinic Banny">Compulinic Banny</option>
                    </select>
                  </label>
                </div>
                <div class="w-full mob:w-1/3 px-3 my-1 mob:my-0"> 
                  <label>Department <span class="text-red-500">*</span>
                    <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" onchange="openDepModal(this)" required>
                      <option selected="true" disabled="disabled">Choose...</option> 
                      <?php foreach($departments as $d) { ?>departments
                        <option value="<?=$d['department_id']?>"><?=$d['department_name']?></option>
                      <?php } ?>
                      <option value="">Add department</option>
                    </select>
                  </label>
                </div>
              </div>
              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full mob:w-1/3 px-3 my-1 mob:my-0"> 
                  <label>Bank account number
                    <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="text" placeholder="Bank account number" name="bank_account_number">
                  </label>
                </div>
                <div class="w-full mob:w-1/3 px-3 my-1 mob:my-0"> 
                  <label>Bank name
                    <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="bank_id" onchange="openBankModal(this)">
                      <option selected="true" disabled="disabled">Choose...</option> 
                      <?php foreach($banks as $b) { ?>
                        <option value="<?=$b['bank_id']?>"><?=$b['bank_name']?></option>
                      <?php } ?>
                      <option value="">Add bank</option>
                    </select>
                  </label>
                </div>
                <div class="w-full mob:w-1/3 px-3"> 
                  <label>Date employed <span class="text-red-500">*</span>
                    <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="date" max="<?= date('Y-m-d'); ?>" name="date_employed" required>
                  </label>
                </div>
              </div>
            </div>
            <div>
              <div class="pt-3">
                <span>Attachment</span>
                <button type="button" onclick="appendDocInput();" class="float-right text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">Add attachment</button>
              </div>
              <div id="documentInputs"></div>
            </div>
          </div>
          <div class="pb-8">
            <button type="submit" class="float-right text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">Save</button>
          </div>
        </form>
      </div>
    </div>
    <!--/ Modal content -->
  </div>
</div> 
<!--/ Add staff modal -->
<br />

<?php if($msg){ 
  if($status == 'success') {?>
  <div x-data="{ open: true }" x-show="open" class="flex items-center p-3 mb-4 text-green-800 rounded-lg bg-green-100 dark:bg-gray-800 dark:text-green-400" role="alert">
    <span>
      <i class="fa-solid fa-circle-info fa-lg"></i>
    </span>
    <div class="ml-3 text-sm font-medium">
      <?=$msg?>
    </div> 
    <button type="button" @click="open = false" class="ml-auto -mx-1.5 px-1 bg-green-100 text-green-500 rounded-lg foinv:ring-2 foinv:ring-green-400 hover:bg-green-200 inline-flex  dark:bg-gray-800 dark:text-green-400 dark:hover:bg-gray-700">
      <span class="font-bold px-1"><i class="fa-solid fa-xmark fa-xl"></i></span>
    </button>
  </div>
<?php } 
  else if($status == 'fail') {?>
<div x-data="{ open: true }" x-show="open" class="flex items-center p-3 mb-4 text-yellow-800 rounded-lg bg-yellow-50 dark:bg-yellow-700 dark:bg-opacity-20 dark:text-yellow-400" role="alert">
  <span>
    <i class="fa-solid fa-circle-exclamation fa-lg"></i>
  </span>
  <div class="ml-3 text-sm font-medium">
    <?=$msg?>
  </div> 
  <button type="button" @click="open = false" class="ml-auto -mx-1.5 px-1 bg-yellow-50 text-yellow-500 rounded-lg focus:ring-2 focus:ring-yellow-400 hover:bg-yellow-200 inline-flex  dark:bg-gray-800 dark:text-yellow-400 dark:hover:bg-gray-700">
    <span class="font-bold px-1"><i class="fa-solid fa-xmark fa-xl"></i></span>
  </button>
</div>
<?php }
}?>
<div id="message"></div>

<div class="w-full overflow-hidden rounded-lg shadow-md">
  <div class="w-full overflow-x-auto">
    <table id="staffTable" class="w-full">
      <thead>
        <tr 
          class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800"
        >
          <th class="px-4 py-3">Name</th>
          <th class="px-4 py-3">Phone number</th>
          <th class="px-4 py-3">Email</th>
          <th class="px-4 py-3">Address</th>
          <th class="px-4 py-3">Status</th>
          <th class="px-4 py-3">Actions</th>
        </tr>
      </thead>
      <tbody
        class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800"
      >
        <?php foreach($staff as $x) { ?>
        <tr id="tr-<?=$x['staff_id']?>" class="text-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700">
          <td class="px-4 py-3">
            <div class="flex items-center text-sm">
              <!-- Avatar with inset shadow -->
              <div
                class="relative hidden w-8 h-8 mr-3 rounded-full md:block"
              >
                <img
                  class="object-cover w-full h-full rounded-full"
                  src="img/no-profile.jpg"
                  alt=""
                  loading="lazy"
                />
                <div
                  class="absolute inset-0 rounded-full shadow-inner"
                  aria-hidden="true"
                ></div>
              </div>
              <div>
                <p class="font-semibold"><?=$x['first_name'] . " " . $x['middle_name'] . " " . $x['last_name']?></p>
                <p class="text-xs text-gray-600 dark:text-gray-400">
                  <?php foreach($designation as $y) { ?>
                    <?php $y['designation_id'] == $x['designation'] ? print($y['designation_name']) : print(""); ?>
                  <?php } ?>
                </p>
              </div>
            </div>
          </td>
          <td class="px-4 py-3 text-sm">
            <?=$x['phone_number']?>
          </td>
          <td class="px-4 py-3 text-sm">
            <?=$x['email']?>
          </td>
          <td class="px-4 py-3 text-sm">
            <?=$x['staff_residence_address']?>
          </td>
          
          <td class="px-4 py-3 text-xs">
            <label class="relative inline-flex items-center cursor-pointer">
              <input id="checkbox-<?=$x['user_id']?>" type="checkbox" onclick="activateStaff(this)" class="sr-only peer" <?php if($x['status']=='active') {echo "checked";} ?> >
              <div class="w-9 h-5 bg-gray-200 rounded-full peer peer-focus:ring-4 peer-focus:ring-purple-300 dark:peer-focus:ring-purple-800 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-600 peer-checked:bg-purple-600"></div>
            </label>  
          </td>
          <td class="px-4 py-3">
            <div class="flex items-center space-x-4 text-sm">
              <button data-modal-target="view-staff-modal-<?=$x['staff_id']?>" data-modal-toggle="view-staff-modal-<?=$x['staff_id']?>" 
                class="flex items-center justify-between p-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:outline-gray-300"
                aria-label="View"
              >
              <i class="fa-solid fa-eye fa-lg"></i>
              </button>
              <button data-modal-target="edit-staff-modal-<?=$x['staff_id']?>" data-modal-toggle="edit-staff-modal-<?=$x['staff_id']?>" 
                class="flex items-center justify-between p-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:outline-gray-300"
                aria-label="Edit"
              >
              <i class="fa-solid fa-pen-to-square fa-lg"></i>
              </button>
              <button id="del-<?=$x['staff_id']?>" onclick="delStaff(this)"
                class="deleteStaff flex items-center justify-between p-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:outline-gray-300"
                aria-label="Delete"
              >
              <i class="fa-sharp fa-solid fa-trash fa-lg"></i>
              </button>
            </div>
          </td>
        </tr>
        <!-- Edit staff modal -->
        <div id="edit-staff-modal-<?=$x['staff_id']?>" tabindex="-1" aria-hidden="true" class="bg-black bg-opacity-50  fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-full max-h-full">
          <div class="relative w-full max-w-4xl max-h-full items-center">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
              <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="edit-staff-modal-<?=$x['staff_id']?>">
                <i class="fa-solid fa-xmark fa-2xl w-5 h-2 mt-3"></i>
                <span class="sr-only">Close modal</span>
              </button>
              <div class="px-6 py-6 lg:px-8 text-gray-900 dark:text-white">
                <h3 class="mb-4 text-xl font-medium">Edit staff </h3>
                <form class="space-y-6" method="POST">
                  <input type="hidden" value="<?=$x['staff_id']?>" name="staff_id">
                  <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full mob:w-1/3 px-3 my-1 mob:my-0">
                      <label> First name
                        <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="text" placeholder="First name" value="<?=$x['first_name']?>" name="first_name" required>
                      </label>
                    </div>
                    <div class="w-full mob:w-1/3 px-3 my-1 mob:my-0"> 
                      <label> Middle name
                        <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="text" placeholder="Middle name" value="<?=$x['middle_name']?>" name="middle_name">
                      </label>
                    </div>
                    <div class="w-full mob:w-1/3 px-3 my-1 mob:my-0"> 
                      <label> Last name
                        <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="text" placeholder="Last name" value="<?=$x['last_name']?>" name="last_name" required>
                      </label>
                    </div>
                  </div>
                  <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full mob:w-1/2 px-3 my-1 mob:my-0">
                      <label> Email address
                        <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="Email address" value="<?=$x['email']?>" name="email" required>
                      </label>
                    </div>
                    <div class="w-full mob:w-1/2 px-3 my-1 mob:my-0">
                      <label class="flex flex-col"> Phone number
                        <input class="phone-edit bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="tel" value="<?=$x['phone_number']?>" name="phone_number">
                      </label>
                    </div>
                  </div>
                  <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full mob:w-1/3 px-3 my-1 mob:my-0"> 
                      <label> Designation
                        <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="designation">
                          <?php foreach($designation as $d) { ?>
                            <option value="<?=$d['designation_id']?>"><?=$d['designation_name']?></option>
                          <?php } ?>
                        </select>
                      </label>
                    </div>
                    <div class="w-full mob:w-1/3 px-3 my-1 mob:my-0"> 
                      <label> Registration number
                        <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="text" value="<?=$x['staff_registration_number']?>" name="registration_number" required>
                      </label>
                    </div>
                    <div class="w-full mob:w-1/3 px-3 my-1 mob:my-0"> 
                      <label> Residence address
                      <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="text" value="<?=$x['staff_residence_address']?>" name="residence_address">
                      </label>
                    </div>
                  </div>
                  <div class="flex flex-wrap -mx-3 mb-6">
                    <div class="w-full mob:w-1/2 px-3"> 
                      <label> Date
                        <input class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" 
                        type="date" max="<?= date('Y-m-d'); ?>" value="<?=helper::format_time($x['created_time'], 'Y-m-d')?>" name="date_employed">
                      </label>
                    </div>
                  </div>
                  <div class="pb-8">
                    <button type="submit" class="float-right text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div> 
        <!--/ Edit staff modal -->
        <!-- View staff modal -->
        <div id="view-staff-modal-<?=$x['staff_id']?>" tabindex="-1" aria-hidden="true" class="bg-black bg-opacity-50  fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-full max-h-full pb-8 mb-8">
          <div class="relative w-full max-w-xl max-h-full items-center pb-8 mb-8">
            <!-- Modal content -->
              <div class="text-gray-900 dark:text-white dark:bg-gray-900 bg-white rounded-xl pb-8 mb-8">
                <div class="relative min-w-0 break-words w-full mb-4 mt-16">
                  <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="view-staff-modal-<?=$x['staff_id']?>">
                    <i class="fa-solid fa-xmark fa-2xl w-5 h-2 mt-3"></i>
                    <span class="sr-only">Close modal</span>
                  </button>
                  <div class="px-6">
                      <div class="flex flex-wrap justify-center">
                          <div class="w-full flex justify-center">
                              <div class="relative">
                                  <img src="img/no-profile.jpg" class="shadow-xl rounded-full align-middle border-none absolute -m-16 -ml-20 lg:-ml-16 max-w-[150px]"/>
                              </div>
                          </div>
                          
                          <div class="w-full text-center mt-20">
                            <!--  
                              <div class="flex justify-center lg:pt-4 pt-8 pb-0">
                                  <div class="p-3 text-center">
                                      <span class="text-xl font-bold block uppercase tracking-wide text-slate-700">3,360</span>
                                      <span class="text-sm text-slate-400">Photos</span>
                                  </div>
                                  <div class="p-3 text-center">
                                      <span class="text-xl font-bold block uppercase tracking-wide text-slate-700">2,454</span>
                                      <span class="text-sm text-slate-400">Followers</span>
                                  </div>
              
                                  <div class="p-3 text-center">
                                      <span class="text-xl font-bold block uppercase tracking-wide text-slate-700">564</span>
                                      <span class="text-sm text-slate-400">Following</span>
                                  </div>
                              </div>
                            -->
                          </div>
                          
                      </div>
                      <div class="text-center mt-2">
                          <h3 class="text-2xl text-slate-700 font-bold leading-normal mb-1"><?=$x['first_name'] . " " . $x['middle_name'] . " " . $x['last_name']?></h3>
                          <div class="text-xs mt-0 mb-2 text-slate-400 font-bold uppercase">
                              <i class="fas fa-map-marker-alt mr-2 text-slate-400 opacity-75"></i><?=$x['staff_residence_address']?>
                          </div>
                      </div>
                      <div class="mt-6 py-6 border-t border-slate-200 text-center">
                          <div class="flex flex-wrap justify-center">
                              <div class="w-full px-4">
                                  <p class="font-light leading-relaxed text-slate-600 mb-4">Details. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. lo</p>
                                  <p class="font-light leading-relaxed text-slate-600 mb-4">Details. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. lo</p>
                                  <p class="font-light leading-relaxed text-slate-600 mb-4">Details. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. lo</p>
                                  <p class="font-light leading-relaxed text-slate-600 mb-4">Details. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. lo</p>
                                  <p class="font-light leading-relaxed text-slate-600 mb-4">Details. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. lo</p>
                                  <p class="font-light leading-relaxed text-slate-600 mb-4">Details. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. lo</p>
                                  <p class="font-light leading-relaxed text-slate-600 mb-4">Details. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. loDetails. lo</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div> 
        <!--/ View staff modal -->
        <?php } ?>
        
      </tbody>
    </table>
  </div>
  
</div>
    
<script src="js/flowbite.min.js"></script>
<script src="plugins/intlTelInput/js/intlTelInput.min.js"></script>

<script>
  function openDesModal(selDesVal) {
    if(selDesVal.value == "") {
      document.getElementById("close-staff-modal-id").click();
      document.getElementById("add-designation-modal-id").click();
    }
  }
  function openRoleModal(selRoleVal) {
    if(selRoleVal.value == "") {
      document.getElementById("close-staff-modal-id").click();
      document.getElementById("add-role-modal-id").click();
    }
  }
  function openBankModal(selBankVal) {
    if(selBankVal.value == "") {
      document.getElementById("close-staff-modal-id").click();
      document.getElementById("add-bank-modal-id").click();
    }
  }
  function openDepModal(selDepVal) {
    if(selDepVal.value == "") {
      document.getElementById("close-staff-modal-id").click();
      document.getElementById("add-dep-modal-id").click();
    }
  }


  function appendDocInput(){
    docInputs = `<div class="flex flex-wrap -mx-3 mb-6 pt-3">
      <div class="w-full mob:w-1/3 px-3 my-1 mob:my-0"> 
        <label>Document name
          <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="staff_doc[name][]">
            <option value="Curriculum_vitae">Curriculum vitae</option>
            <option value="Contract">Contract</option>
            <option value="Diploma_transcript">Diploma transcript</option>
            <option value="Diploma_certificate">Diploma certificate</option>
            <option value="Bachelor_transcript">Bachelor transcript</option>
            <option value="Bachelor_certificate">Bachelor certificate</option>
          </select>
        </label>
      </div>
      <div class="w-full mob:w-2/3 px-3 my-1 mob:my-0"> 
        <label>Attachment file
          <input class="block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100" type="file" name="staff_doc[docfile][]" accept=".pdf">
        </label>
      </div>
    </div>`;
    documentInputs = document.getElementById("documentInputs");
    documentInputs.insertAdjacentHTML('beforeend', docInputs);
  }
  /*function changeDocInput(docVal){
    var docName = "";
    if(docVal.value == "CV") {
      docName = "document_cv";
    }
    if(docVal.value == "CONTRACT") {
      docName = "document_cont";
    }
    if(docVal.value == "UNI CERTIFICATE") {
      docName = "document_uni";
    }
    if(docVal.value == "DIPLOMA CERTIFICATE") {
      docName = "document_dip";
    }
    docInputs = `<div class="w-full mob:w-1/2 mx-auto my-3"> 
      <label>`+docVal.value+`
        <input class="block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-full file:border-0 file:text-sm file:font-semibold file:bg-blue-50 file:text-blue-700 hover:file:bg-blue-100" type="file" name="`+docName+`">
      </label>
    </div>`;
    documentInputs = document.getElementById("documentInputs");
    documentInputs.insertAdjacentHTML('beforeend', docInputs);
  }*/


  const input = document.querySelector("#phone");
  window.intlTelInput(input, {
    initialCountry: "auto",
    geoIpLookup: callback => {
      fetch("https://ipapi.co/json")
        .then(res => res.json())
        .then(data => callback(data.country_code))
        .catch(() => callback("us"));
    },
    utilsScript: "plugins/intlTelInput/js/utils.js?1681516311936" // just for formatting/placeholders etc
  });
  var inputPhone = document.getElementsByClassName("phone-edit");
  for (var i = 0; i < inputPhone.length; i++) {
    window.intlTelInput(inputPhone.item(i), {
      initialCountry: "auto",
      geoIpLookup: callback => {
        fetch("https://ipapi.co/json")
          .then(res => res.json())
          .then(data => callback(data.country_code))
          .catch(() => callback("us"));
      },
      utilsScript: "plugins/intlTelInput/js/utils.js?1681516311936" // just for formatting/placeholders etc
    });
  }


  async function delStaff(values) {
    if (!confirm("Sure you want to delete staff?")) {
      return;
    }
    
    delStaffBtn = document.getElementById(values.id);
    delStaffBtn.disabled = true;
    delStaffBtn.innerHTML = '<i class="fa-solid fa-spinner fa-spin fa-lg"></i>'

    var staffId = values.id.split('-');
    const staffData = new FormData();
    staffData.append('ajax_del_staff', staffId[1]);
    //for (let obj of staffData) {
      //console.log(obj);
    //}
    //var name = staffData.get('ajax_del_staff');
    //console.log(name);

    let url = '<?=$request_uri?>';
    let obj = {
      method: "POST", 
      body: staffData,
    }

    let response = await fetch(url, obj)
    .then(response => {
      if (!response.ok) {
        throw new Error('The response side is not ok!');
      }
      return response.json();
    })
    .then(data => {
      if(data.status == 'success'){
        document.getElementById("message").innerHTML = `<div x-data="{ open: true }" x-show="open" class="flex items-center p-3 mb-4 text-green-800 rounded-lg bg-green-100 dark:bg-gray-800 dark:text-green-400" role="alert">
          <span>
            <i class="fa-solid fa-circle-info fa-lg"></i>
          </span>
          <div class="ml-3 text-sm font-medium">
            `+data.msg+` for staff `+data.staff.first_name+` `+data.staff.middle_name+` `+data.staff.last_name
            +`.
          </div> 
          <button type="button" @click="open = false" class="ml-auto -mx-1.5 px-1 bg-green-100 text-green-500 rounded-lg focus:ring-2 focus:ring-green-400 hover:bg-green-200 inline-flex  dark:bg-gray-800 dark:text-green-400 dark:hover:bg-gray-700">
            <span class="font-bold px-1"><i class="fa-solid fa-xmark fa-xl"></i></span>
          </button>
        </div>`;
        document.getElementById('tr-'+staffId[1]).remove();
      }
      if(data.status == 'fail'){
        document.getElementById("message").innerHTML = `<div x-data="{ open: true }" x-show="open" class="flex items-center p-3 mb-4 text-yellow-800 rounded-lg bg-yellow-50 dark:bg-yellow-700 dark:bg-opacity-20 dark:text-yellow-400" role="alert">
          <span>
            <i class="fa-solid fa-circle-exclamation fa-lg"></i>
          </span>
          <div class="ml-3 text-sm font-medium">
            `+data.msg+` for staff `+data.staff.first_name+` `+data.staff.middle_name+` `+data.staff.last_name
            +`.
          </div> 
          <button type="button" @click="open = false" class="ml-auto -mx-1.5 px-1 bg-yellow-50 text-yellow-500 rounded-lg focus:ring-2 focus:ring-yellow-400 hover:bg-yellow-200 inline-flex  dark:bg-gray-800 dark:text-yellow-400 dark:hover:bg-gray-700">
            <span class="font-bold px-1"><i class="fa-solid fa-xmark fa-xl"></i></span>
          </button>
        </div>`;
        delStaffBtn.disabled = false;
        delStaffBtn.innerHTML = '<i class="fa-sharp fa-solid fa-trash fa-lg"></i>';
      }
      if(data.status == 'not-exist' || data.status == 'denied'){
        document.getElementById("message").innerHTML = `<div x-data="{ open: true }" x-show="open" class="flex items-center p-3 mb-4 text-yellow-800 rounded-lg bg-yellow-50 dark:bg-yellow-700 dark:bg-opacity-20 dark:text-yellow-400" role="alert">
          <span>
            <i class="fa-solid fa-circle-exclamation fa-lg"></i>
          </span>
          <div class="ml-3 text-sm font-medium">
            `+data.msg+`.
          </div> 
          <button type="button" @click="open = false" class="ml-auto -mx-1.5 px-1 bg-yellow-50 text-yellow-500 rounded-lg focus:ring-2 focus:ring-yellow-400 hover:bg-yellow-200 inline-flex  dark:bg-gray-800 dark:text-yellow-400 dark:hover:bg-gray-700">
            <span class="font-bold px-1"><i class="fa-solid fa-xmark fa-xl"></i></span>
          </button>
        </div>`;
      }
    })
    .catch(error => {
      document.getElementById("message").innerHTML = `<div x-data="{ open: true }" x-show="open" class="flex items-center p-3 mb-4 text-red-800 rounded-lg bg-red-50 dark:bg-red-700 dark:bg-opacity-20 dark:text-red-400" role="alert">
        <span>
          <i class="fa-solid fa-circle-exclamation fa-lg"></i>
        </span>
        <div class="ml-3 text-sm font-medium">
          An error occured! Please try again later.
        </div> 
        <button type="button" @click="open = false" class="ml-auto -mx-1.5 px-1 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 hover:bg-red-200 inline-flex  dark:bg-gray-800 dark:text-red-400 dark:hover:bg-gray-700">
          <span class="font-bold px-1"><i class="fa-solid fa-xmark fa-xl"></i></span>
        </button>
      </div>`;
      //console.error('Problem:', error);
      delStaffBtn.disabled = false;
      delStaffBtn.innerHTML = '<i class="fa-sharp fa-solid fa-trash fa-lg"></i>';
    });
  }


  async function activateStaff(values) {
    if (values.checked) {
      var status = 'active';
    };
    if (!values.checked) {
      var status = 'inactive';
    };

    var userId = values.id.split('-');
    const userData = new FormData();
    userData.append('ajax_activate_user', userId[1]);
    userData.append('status', status);
    
    let url = '<?=$request_uri?>';
    let obj = {
      method: "POST", 
      body: userData,
    }

    let response = await fetch(url, obj)
    .then(response => {
      if (!response.ok) {
        throw new Error('The response side is not ok!');
      }
      return response.json();
    })
    .then(data => {
      console.log(data);
      if(data.status == 'success'){
        document.getElementById("message").innerHTML = `<div x-data="{ open: true }" x-show="open" class="flex items-center p-3 mb-4 text-green-800 rounded-lg bg-green-100 dark:bg-gray-800 dark:text-green-400" role="alert">
          <span>
            <i class="fa-solid fa-circle-info fa-lg"></i>
          </span>
          <div class="ml-3 text-sm font-medium">
            `+data.msg+`.
          </div> 
          <button type="button" @click="open = false" class="ml-auto -mx-1.5 px-1 bg-green-100 text-green-500 rounded-lg focus:ring-2 focus:ring-green-400 hover:bg-green-200 inline-flex  dark:bg-gray-800 dark:text-green-400 dark:hover:bg-gray-700">
            <span class="font-bold px-1"><i class="fa-solid fa-xmark fa-xl"></i></span>
          </button>
        </div>`;
      }
    })
    .catch(error => {
      document.getElementById("message").innerHTML = `<div x-data="{ open: true }" x-show="open" class="flex items-center p-3 mb-4 text-red-800 rounded-lg bg-red-50 dark:bg-red-700 dark:bg-opacity-20 dark:text-red-400" role="alert">
        <span>
          <i class="fa-solid fa-circle-exclamation fa-lg"></i>
        </span>
        <div class="ml-3 text-sm font-medium">
          An error occured! Please try again later.
        </div> 
        <button type="button" @click="open = false" class="ml-auto -mx-1.5 px-1 bg-red-50 text-red-500 rounded-lg focus:ring-2 focus:ring-red-400 hover:bg-red-200 inline-flex  dark:bg-gray-800 dark:text-red-400 dark:hover:bg-gray-700">
          <span class="font-bold px-1"><i class="fa-solid fa-xmark fa-xl"></i></span>
        </button>
      </div>`;
      //console.error('Problem:', error);
    });
  }
</script>
