
<h2  class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200">
  Stock
</h2>
<!-- Modal toggle -->
<div>
  <button 
  data-modal-target="add-product-modal" data-modal-toggle="add-product-modal" 
  class="float-right text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800" type="button">
  Add stock
  </button>
</div>

<!-- Main modal -->
<div id="add-product-modal" tabindex="-1" aria-hidden="true" class="bg-black bg-opacity-50 fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-full max-h-full">
  <div class="relative w-full max-w-lg max-h-full">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700 text-gray-900 dark:text-white">
          <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="add-product-modal">
            <i class="fa-solid fa-xmark fa-2xl w-5 h-2 mt-3"></i>
              <span class="sr-only">Close modal</span>
          </button>
          <div class="px-6 py-6 lg:px-8">
            <h3 class="mb-4 text-xl font-medium">Add stock </h3>
            <form class="space-y-6" method="POST">
              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="mob:w-1/2 w-full px-3">
                  <label>Product name
                    <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="product" required>
                      <option value="">Choose product..</option>
                      <?php foreach($product as $prd){?>
                      <option value="<?=$prd['product_id']?>"><?=$prd['product_name']?></option>
                      <?php }?>
                      <option value="add_product">Add product</option>
                    </select>
                  </label>
                </div>
                <div class="mob:w-1/2 w-full px-3">
                  <label>Store
                    <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="store">
                      <option value="">Choose store..</option>
                      <?php foreach($store as $st){?>
                      <option value="<?=$st['store_id']?>"><?=$st['store_name']?></option>
                      <?php }?>
                      <option value="add_store">Add store</option>
                    </select>
                </div>
                <div class="mob:w-1/2 w-full px-3 mt-2 mob:mt-0">
                  <label>Stock batch
                    <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="text" placeholder="Batch" name="stock_batch" required>
                  </label>
                </div>
                <div class="mob:w-1/2 w-full px-3">
                  <label>Quantity
                    <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="number" min="1" placeholder="Quantity" name="product_quantity">
                  </label>
                </div>
                <div class="mob:w-1/2 w-full px-3 mt-2 mob:mt-0">
                  <label>Buying Price
                    <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="number" min="0" placeholder="Buying Price" name="buying_price">
                  </label>
                </div>
                <div class="mob:w-1/2 w-full px-3">
                  <label>Expenses
                    <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="number" min="0" placeholder="Expenses" name="stock_expenses">
                </div>
                <div class="mob:w-1/2 w-full px-3 mt-2 mob:mt-0">
                  <label>Selling price
                    <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="number" min="0" placeholder="Selling price" name="selling_price">
                </div>
                <div class="mob:w-1/2 w-full px-3">
                  <label>Supplier
                    <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="supplier">
                      <option value="">Choose supplier..</option>
                      <?php foreach($supplier as $sp){?>
                      <option value="<?=$sp['supplier_id']?>"><?=$sp['supplier_name']?></option>
                      <?php }?>
                      <option value="add_supplier">Add supplier</option>
                    </select>
                </div>
              </div> 
              <button type="submit" class="w-full text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">Add</button>
            </form>
          </div>
      </div>
  </div>
</div> 
<br />
<div class="w-full overflow-hidden rounded-lg shadow-md">
  <div class="w-full overflow-x-auto">
    <table class="w-full">
      <thead>
        <tr
          class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
          <th class="px-4 py-3">Name</th>
          <th class="px-4 py-3">Batch</th>
          <th class="px-4 py-3">Qty</th>
          <th class="px-4 py-3">Purchase price</th>
          <th class="px-4 py-3">Selling price</th>
          <th class="px-4 py-3">Expenses</th>
          <th class="px-4 py-3">Supplier</th>
          <th class="px-4 py-3">Received by</th>
          <th class="px-4 py-3">Actions</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
      <?php foreach($stock as $stk){?>
        <tr class="text-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700">
          <td class="px-4 py-3">
            <div class="font-semibold">
              <?=$stk['product_name']?>
            </div>
          </td>
          <td class="px-4 py-3 text-sm">
            <?=$stk['stock_batch']?>
          </td>
          <td class="px-4 py-3 text-sm">
            <?=intval($stk['stock_out'])?>/<?=$stk['stock_quantity']?>
          </td>
          <td class="px-4 py-3 text-sm">
            <?=number_format($stk['buying_price'])?>
          </td>
          <td class="px-4 py-3 text-sm">
            <?=number_format($stk['selling_price'])?>
          </td>
          <td class="px-4 py-3 text-sm">
            <?=number_format($stk['stock_expenses'])?>
          </td>
          <td class="px-4 py-3 text-sm">
            <?=$stk['supplier_name']?>
          </td>
          <td class="px-4 py-3 text-sm">
            <?=$stk['first_name']?> <?=$stk['middle_name']?> <?=$stk['last_name']?>
          </td>
          <td class="px-4 py-3">
            <div class="flex items-center space-x-4 text-sm">   
              <button 
                class="flex items-center justify-between p-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:outline-gray-300"
                aria-label="Edit"
              >
              <i class="fa-solid fa-pen-to-square fa-lg"></i>
              </button>
              <button 
                class="flex items-center justify-between p-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 focus:outline-none focus:outline-gray-300"
                aria-label="Delete"
              >
              <i class="fa-sharp fa-solid fa-trash fa-lg"></i>
              </button>
            </div>
          </td>
        </tr>
      <?php }?>
      </tbody>
    </table>
  </div>
  
</div>
    
<script src="js/flowbite.min.js"></script>
<script>

</script>

