
<h2
  class="my-6 text-2xl font-semibold text-gray-700 dark:text-gray-200"
>
  Tools
</h2>

<!-- Apply leave modal toggle -->
<div>
  <button 
  data-modal-target="add-tool-modal" data-modal-toggle="add-tool-modal" 
  class="float-right text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800" type="button">
  Add tool
  </button>
</div>

<!-- Add tool modal -->
<div id="add-tool-modal" tabindex="-1" aria-hidden="true" class="bg-black bg-opacity-50 fixed top-0 left-0 right-0 z-50 hidden w-full h-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 f-full max-h-full">
    <div class="relative w-full max-w-4xl max-h-full items-center">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700 text-gray-900 dark:text-white">
            <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="add-tool-modal">
              <i class="fa-solid fa-xmark fa-2xl w-5 h-2 mt-3"></i>
                <span class="sr-only">Close modal</span>
            </button>
            <div class="px-6 py-6 lg:px-8">
              <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Add tool </h3>
              <form class="space-y-6" method="POST" enctype="multipart/form-data">
                <div class="flex flex-wrap -mx-3 mb-6">
                  <div class="w-full sm:w-1/2 px-3 my-2 mob:my-0">
                    <div class="w-full px-3">
                      <label>Name
                        <input name="tool_name" class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="text" placeholder="Tool name">
                      </label>
                    </div>
                    <div class="w-full px-3">
                      <label>Asset number
                        <input name="asset_number" class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" type="text" placeholder="asset number">
                      </label>
                    </div>
                    
                    <div class="w-full px-3">
                      <label>Tool group
                        <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" name="tool_group">
                          <option>Default</option>
                        </select>
                      </label>
                    </div>
                  </div>
                  <div class="w-full sm:w-1/2 px-3 my-2 mob:my-0">
                    <div class="w-full px-3">
                      <label>Tool image
                        <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"  type="file" placeholder="tool image" name="tool_photo">
                      </label>
                    </div>
                    
                  <div class="w-full px-3">
                    <label>Description
                      <textarea name="tool_description" class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="Tool description..." rows="4"></textarea>
                    </label>
                  </div>
                  </div>
                </div>
                <div class="pb-8">
                  <button type="submit" class="float-right text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">Add</button>
                </div>
              </form>
            </div>
        </div>
    </div>
</div> 
<!--/ Add tool modal -->
<br />
<?php if($msg) {?>
  <div x-data="{ open: true }" x-show="open" class="flex p-3 mb-4 text-green-800 rounded-lg bg-green-100 dark:bg-gray-800 dark:text-green-400" role="alert">
    <span>
      <i class="fa-solid fa-circle-info fa-lg"></i>
    </span>
    <div class="ml-3 text-sm font-medium">
      <?=$msg?>
    </div> 
    <button type="button" @click="open = false" class="ml-auto -mx-1.5 px-1 bg-green-100 text-green-500 rounded-lg focus:ring-2 focus:ring-green-400 hover:bg-green-200 inline-flex  dark:bg-gray-800 dark:text-green-400 dark:hover:bg-gray-700">
      <span class="font-bold px-1"><i class="fa-solid fa-xmark fa-xl"></i></span>
    </button>
  </div>
<?php } ?>
<div id="message"></div>

<div class="py-2">
  <!-- Tabs -->
  <div class="border-b border-gray-200 dark:border-gray-700 mb-4">
    <ul class="flex flex-wrap -mb-px" id="myTab" data-tabs-toggle="#myTabContent" role="tablist">
      <li class="mr-2" role="presentation">
        <button class="inline-block text-gray-500 hover:text-gray-600 hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-300 dark:hover:text-gray-200" id="all-tab" data-tabs-target="#all" type="button" role="tab" aria-controls="all" aria-selected="false">Overview</button>
      </li-->
      <li class="mr-2" role="presentation">
        <button class="inline-block text-gray-500 hover:text-gray-600 hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-300 dark:hover:text-gray-200 active" id="present-tab" data-tabs-target="#present" type="button" role="tab" aria-controls="present" aria-selected="true">Available (<?=intval(count($tools_available))?>)</button>
      </li>
      <li class="mr-2" role="presentation">
        <button class="inline-block text-gray-500 hover:text-gray-600 hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-300 dark:hover:text-gray-200" id="borrowed-tab" data-tabs-target="#borrowed" type="button" role="tab" aria-controls="borrowed" aria-selected="false">Borrowed (<?=intval(count($tools_borrowed))?>)</button>
      </li>
      <li class="mr-2" role="presentation">
        <button class="inline-block text-gray-500 hover:text-gray-600 hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-300 dark:hover:text-gray-200" id="requested-tab" data-tabs-target="#requested" type="button" role="tab" aria-controls="requested" aria-selected="false">Requested (<?=intval(count($tools_requested))?>)</button>
      </li>
      <li class="mr-2" role="presentation">
        <button class="inline-block text-gray-500 hover:text-gray-600 hover:border-gray-300 rounded-t-lg py-4 px-4 text-sm font-medium text-center border-transparent border-b-2 dark:text-gray-300 dark:hover:text-gray-200" id="offservice-tab" data-tabs-target="#offservice" type="button" role="tab" aria-controls="offservice" aria-selected="false">Off service (<?=intval(count($tools_offservice))?>)</button>
      </li>
    </ul>
  </div>
  <!-- Tabs -->
  <!-- Details -->
  <div id="myTabContent">
    <div class="px-4 rounded-lg" id="all" role="tabpanel" aria-labelledby="all-tab">
      <div class="grid gap-6 mb-8 md:grid-cols-2 xl:grid-cols-4">
        <!-- Card -->
        <div
          class="flex items-center p-4 bg-white rounded-lg shadow-md dark:bg-gray-800">
          <div class="p-3 mr-4 text-gray-500 bg-gray-100 rounded-full dark:text-teal-100 dark:bg-gray-500">
            <i class="fa-solid fa-toolbox w-5 h-5 text-center"></i>
          </div>
          <div>
            <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
              Total Tools
            </p>
            <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">80</p>
          </div>
        </div>
        <!-- Card -->
  <div
      class="flex items-center p-4 bg-white rounded-lg shadow-md dark:bg-gray-800">
      <div class="p-3 mr-4 text-green-500 bg-orange-100 rounded-full dark:text-green-100 dark:bg-green-500">
        <i class="fa-solid fa-tools w-5 h-5 text-center"></i>
      </div>
      <div>
        <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
          Available Tools
        </p>
        <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">40</p>
      </div>
  </div>
  <!-- Card -->
  <div
      class="flex items-center p-4 bg-white rounded-lg shadow-md dark:bg-gray-800">
      <div class="p-3 mr-4 text-orange-500 bg-orange-100 rounded-full dark:text-orange-100 dark:bg-orange-500">
        <i class="fa-solid fa-tools w-5 h-5 text-center"></i>
      </div>
      <div>
        <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
          Borrowed Tools
        </p>
        <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">20</p>
      </div>
  </div>
  <!-- Card -->
  <div
      class="flex items-center p-4 bg-white rounded-lg shadow-md dark:bg-gray-800">
      <div class="p-3 mr-4 text-red-500 bg-orange-100 rounded-full dark:text-red-100 dark:bg-blue-500">
        <i class="fa-solid fa-tools w-5 h-5 text-center"></i>
      </div>
      <div>
        <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
          Defective Tools
        </p>
        <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">20</p>
      </div>
  </div>
  </div>
  
    </div>

    <div class="px-4 rounded-lg hidden text-gray-800 dark:text-gray-200" id="present" role="tabpanel" aria-labelledby="present-tab">

      <div class="w-full overflow-hidden rounded-lg shadow-md">
        <div class="w-full overflow-x-auto">
          <table class="w-full">
            <thead>
              <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                <th class="px-4 py-3"></th>
                <th class="px-4 py-3">Name</th>
                <th class="px-4 py-3">Description</th>
                <th class="px-4 py-3">Status</th>
                <th class="px-4 py-3">Actions</th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
            <?php if (is_array($tools_available) || is_object($tools_available))
            foreach ($tools_available as $tol){?>
              <tr class="text-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700">
                <td class="px-4 py-3">
                  <img src="uploads/tools/tool_<?=$tol['tool_id']?>.jpg"  class="h-16 w-16 object-cover"/>
                </td>
                <td class="px-4 py-3">
                  <?=$tol['tool_name']?>
                </td>
                <td class="px-4 py-3 text-sm">
                  <?=$tol['tool_description']?>
                </td>
                <td class="px-4 py-3 text-sm">
                  <?=$tol['tool_status']?>
                </td>
                <td class="px-4 py-3">
                  <div class="flex items-center space-x-4 text-sm">   
                    <!--button 
                    data-modal-target="tool-view-modal" data-modal-toggle="tool-view-modal"
                      class="flex items-center justify-between p-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 foinv:outline-none foinv:outline-gray-300"
                      aria-label="View">
                    <i class="fa-solid fa-eye fa-lg"></i>
                    </button-->
                    <button data-modal-target="edit-tool-modal-<?=$tol['tool_id']?>" data-modal-toggle="edit-tool-modal-<?=$tol['tool_id']?>" 
                      class="flex items-center justify-between p-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 fotol:outline-none fotol:outline-gray-300"
                      aria-label="Edit"
                    >
                    <i class="fa-solid fa-eye fa-lg"></i>
                    </button>
                    <button id="del-<?=$tol['tool_id']?>" onclick="deltool(this)" 
                      class="flex items-center justify-between p-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 fotol:outline-none fotol:outline-gray-300"
                      aria-label="Delete"
                      >
                    <i class="fa-sharp fa-solid fa-trash fa-lg"></i>
                    </button>
                  </div>
                </td>
              </tr>
              <!-- Edit tool modal -->
              <div id="edit-tool-modal-<?=$tol['tool_id']?>" tabindex="-1" aria-hidden="true" class="bg-black bg-opacity-50 fixed top-0 left-0 right-0 z-50 hidden w-full h-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 f-full max-h-full">
                <div class="relative w-full max-w-4xl max-h-full items-center">
                    <!-- Modal content -->
                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700 text-gray-900 dark:text-white">
                        <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="edit-tool-modal-<?=$tol['tool_id']?>">
                          <i class="fa-solid fa-xmark fa-2xl w-5 h-2 mt-3"></i>
                            <span class="sr-only">Close modal</span>
                        </button>
                        <div class="px-6 py-6 lg:px-8">
                          <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Tool details</h3>
                          <form class="space-y-6" method="POST" enctype="multipart/form-data">
                            <div class="flex flex-wrap -mx-3 mb-6">
                              <div class="w-full sm:w-1/2 px-3 my-2 mob:my-0">
                                <div class="w-full px-3">
                                  <label>Name
                                    <input name="tool_name" class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" value="<?=$tol['tool_name']?>" type="text" placeholder="Tool name">
                                  </label>
                                </div>
                                <div class="w-full px-3">
                                  <label>Asset number
                                    <input name="asset_number" class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" value="<?=$tol['asset_number']?>" type="text" placeholder="asset number">
                                  </label>
                                </div>
                                
                                <div class="w-full px-3">
                                  <label>Tool group
                                    <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" name="tool_group">
                                      <option<?=$tol['tool_group'] == 'Default' ? ' selected':''?>>Default</option>
                                      <option<?=$tol['tool_group'] == 'Micro_tool' ? ' selected':''?>>Micro_tool</option>
                                      <option<?=$tol['tool_group'] == 'Hand_tool' ? ' selected':''?>>Hand_tool</option>
                                      <option<?=$tol['tool_group'] == 'Equipment' ? ' selected':''?>>Equipment</option>
                                    </select>
                                  </label>
                                </div>
                                <div class="w-full px-3">
                                  <label>Tool status
                                    <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" name="tool_status">
                                      <option<?=$tol['tool_status'] == 'active' ? ' selected':''?>>active</option>
                                      <option<?=$tol['tool_status'] == 'defective' ? ' selected':''?>>defective</option>
                                      <option<?=$tol['tool_status'] == 'retired' ? ' selected':''?>>retired</option>
                                    </select>
                                  </label>
                                </div>
                              </div>
                              <div class="w-full sm:w-1/2 px-3 my-2 mob:my-0">
                                <div class="flex flex-wrap -mx-3 mb-6">
                                  <div class="w-full sm:w-1/2 px-3 my-2 mob:my-0">
                                    <img src="uploads/tools/tool_<?=$tol['tool_id']?>.jpg"  class="h-16 w-16 object-cover"/>
                                  </div>
                                  <div class="w-full sm:w-1/2 px-3 my-2 mob:my-0">
                                    <label>Tool image
                                      <input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"  type="file" placeholder="tool image" name="tool_photo">
                                    </label>
                                  </div>
                                </div>
                                <div class="w-full px-3">
                                  <label>Description
                                    <textarea name="tool_description" class="w-full bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="Tool description..." rows="4"><?=$tol['tool_description']?></textarea>
                                  </label>
                                </div>
                              </div>
                            </div>
                            <input type="hidden" name="tool_id" value="<?=$tol['tool_id']?>">
                            <div class="pb-8">
                              <button type="submit" class="float-right text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">Save</button>
                            </div>
                          </form>
                        </div>
                    </div>
                </div>
              </div> 
              <!--/ Edit tool modal -->
              <?php }?>
            </tbody>
          </table>
        </div>
      </div>
      
    </div>
    <div class="px-4 rounded-lg hidden text-gray-800 dark:text-gray-200" id="borrowed" role="tabpanel" aria-labelledby="borrowed-tab">

      <div class="w-full overflow-hidden rounded-lg shadow-md">
        <div class="w-full overflow-x-auto">
          <table class="w-full">
            <thead>
              <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                <th class="px-4 py-3"></th>
                <th class="px-4 py-3">Name</th>
                <th class="px-4 py-3">Description</th>
                <th class="px-4 py-3">Status</th>
                <th class="px-4 py-3">Actions</th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
            <?php 
            if (is_array($tools_borrowed) || is_object($tools_borrowed))
            foreach ($tools_borrowed as $tol)
            {?>
              <tr  class="text-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700">
                <td class="px-4 py-3">
                  <img src="uploads/tools/tool_<?=$tol['tool_id']?>.jpg"  class="h-16 w-16 object-cover"/>
                </td>
                <td class="px-4 py-3">
                  <?=$tol['tool_name']?>
                </td>
                <td class="px-4 py-3 text-sm">
                  <?=$tol['tool_description']?>
                </td>
                <td class="px-4 py-3 text-sm">
                  <?=$tol['tool_status']?>
                </td>
                <td class="px-4 py-3">
                  <div class="flex items-center space-x-4 text-sm">   
                    <button 
                    data-modal-target="tool-view-modal" data-modal-toggle="tool-view-modal"
                    class="flex items-center justify-between p-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 foinv:outline-none foinv:outline-gray-300"
                    aria-label="View">
                  <i class="fa-solid fa-eye fa-lg"></i>
                  </div>
                </td>
              </tr>
              <?php }?>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <div class="px-4 rounded-lg hidden text-gray-800 dark:text-gray-200" id="requested" role="tabpanel" aria-labelledby="requested-tab">

      <div class="w-full overflow-hidden rounded-lg shadow-md">
        <div class="w-full overflow-x-auto">
          <table class="w-full">
            <thead>
              <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                <th class="px-4 py-3"></th>
                <th class="px-4 py-3">Name</th>
                <th class="px-4 py-3">Description</th>
                <th class="px-4 py-3">Status</th>
                <th class="px-4 py-3">Actions</th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
            <?php 
            if (is_array($tools_requested) || is_object($tools_requested))
            foreach ($tools_requested as $tol)
         {?>
          <tr class="text-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700">
                <td class="px-4 py-3">
                  <img src="uploads/tools/tool_<?=$tol['tool_id']?>.jpg"  class="h-16 w-16 object-cover"/>
                </td>
                <td class="px-4 py-3">
                  <?=$tol['tool_name']?>
                </td>
                <td class="px-4 py-3 text-sm">
                  <?=$tol['tool_description']?>
                </td>
                <td class="px-4 py-3 text-sm">
                  <!-- <?=$tol['tool_quantity']?> -->
                </td>
                <td class="px-4 py-3">
                  <!--div class="flex items-center space-x-4 text-sm">   
                    <button data-modal-target="add-tool-modal-<?=$tol['tool_id']?>" data-modal-toggle="add-tool-modal-<?=$tol['tool_id']?>" 
                      class="flex items-center justify-between p-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 fotol:outline-none fotol:outline-gray-300"
                      aria-label="Edit"
                    >
                    <i class="fa-solid fa-pen-to-square fa-lg"></i>
                    </button>
                    <button id="del-<?=$tol['tool_id']?>" onclick="deltool(this)" 
                      class="flex items-center justify-between p-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 fotol:outline-none fotol:outline-gray-300"
                      aria-label="Delete"
                      >
                    <i class="fa-sharp fa-solid fa-trash fa-lg"></i>
                    </button>
                  </div-->
                </td>
              </tr>
              <?php }?>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <div class="px-4 rounded-lg hidden text-gray-800 dark:text-gray-200" id="offservice" role="tabpanel" aria-labelledby="offservice-tab">

      <div class="w-full overflow-hidden rounded-lg shadow-md">
        <div class="w-full overflow-x-auto">
          <table class="w-full">
            <thead>
              <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
                <th class="px-4 py-3"></th>
                <th class="px-4 py-3">Name</th>
                <th class="px-4 py-3">Description</th>
                <th class="px-4 py-3">Status</th>
                <th class="px-4 py-3">Actions</th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
            <?php 
            if (is_array($tools_offservice) || is_object($tools_offservice))
            foreach ($tools_offservice as $tol)
            {?>
              <tr  class="text-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700">
                <td class="px-4 py-3">
                  <img src="uploads/tools/tool_<?=$tol['tool_id']?>.jpg"  class="h-16 w-16 object-cover"/>
                </td>
                <td class="px-4 py-3">
                  <?=$tol['tool_name']?>
                </td>
                <td class="px-4 py-3 text-sm">
                  <?=$tol['tool_description']?>
                </td>
                <td class="px-4 py-3 text-sm">
                  <?=$tol['tool_status']?>
                </td>
                <td class="px-4 py-3">
                  <div class="flex items-center space-x-4 text-sm">   
                    <button 
                    data-modal-target="tool-view-modal" data-modal-toggle="tool-view-modal"
                    class="flex items-center justify-between p-2 text-sm font-medium leading-5 text-purple-600 rounded-lg dark:text-gray-400 foinv:outline-none foinv:outline-gray-300"
                    aria-label="View">
                  <i class="fa-solid fa-eye fa-lg"></i>
                  </div>
                </td>
              </tr>
              <?php }?>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
  <!-- Details -->
</div>

<div id="tool-view-modal" tabindex="-1" aria-hidden="true" class="bg-black bg-opacity-50 fixed top-0 left-0 right-0 z-50 hidden w-full h-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 f-full max-h-full">
  <div class="relative w-full max-w-4xl max-h-full items-center">
      <!-- Modal content -->
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700 text-gray-900 dark:text-white">
          <button type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-800 dark:hover:text-white" data-modal-hide="tool-view-modal">
            <i class="fa-solid fa-xmark fa-2xl w-5 h-2 mt-3"></i>
              <span class="sr-only">Close modal</span>
          </button>
          <div class="px-6 py-6 lg:px-8">
            <h3 class="mb-4 text-xl font-medium text-gray-900 dark:text-white">Tool Details </h3>
            <form class="space-y-6" method="POST" enctype="multipart/form-data">
              <div class="flex flex-wrap -mx-3 mb-6">
                <div class="w-full px-3 my-2 mob:my-0">
                  <div class="w-full px-3">
                    <p>Name:
                    </p>
                    <p>Disctiption:
                    </p>
                    <label>Tool Status:
                      <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-purple-500 focus:border-purple-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" name="tool_group">
                        <option>Active</option>
                        <option>Defective</option>
                      </select>
                    </label> 
                  </div>
                  <div class="pb-8 pt-3">
                    <button type="submit" class="float-right text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800">Confirm Return</button>
                  </div>
                </div>
            </form>
          </div>
      </div>
  </div>
</div>
<script src="js/sweetalert.min.js"></script>
<script src="js/flowbite.min.js"></script>
<script>
  async function deltool(values) {
    if (!await swal({text: 'Deleting a tool can not be undone!', buttons: true})) {
      return;
    }
    deltoolBtn = document.getElementById(values.id);
    deltoolBtn.disabled = true;
    deltoolBtn.innerHTML = '<i class="fa-solid fa-spinner fa-spin fa-lg"></i>'

    var toolId = values.id.split('-');
    const toolData = new FormData();
    toolData.append('ajax_del_tool', toolId[1]);

    let url = window.location.href;
    let obj = {
      method: "POST", 
      body: toolData,
    }

    let response = await fetch(url, obj)
    .then(response => {
      if (!response.ok) {
        throw new Error('The response side is not ok!');
      }
      return response.json();
    })
    .then(data => {  
      if(data.status.trim() == 'success'){
        swal(data.msg, '', "success").then(val=>{
          window.location.reload();
        });
        //document.getElementById('tr-'+toolId[1]).remove();
        
      }
      else if(data.status == 'fail'){
        swal(data.msg, '', "error");
        deltoolBtn.disabled = false;
        deltoolBtn.innerHTML = '<i class="fa-sharp fa-solid fa-trash fa-lg"></i>';
      }
      else if(data.status == 'not-exist' || data.status == 'denied'){
        swal(data.msg, '', "error");
      }
    })
    .catch(error => {
      swal('There is an error deleting tool', '', "error");
      deltoolBtn.disabled = false;
      deltoolBtn.innerHTML = '<i class="fa-sharp fa-solid fa-trash fa-lg"></i>';
    });
  }
</script>

